FLASK_APP=iatlasapi.py
FLASK_ENV=development
FLASK_RUN_PORT=5000
POSTGRES_DB=iatlas
POSTGRES_HOST=iatlas-postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=changeme
POSTGRES_USER=postgres
SNAKEVIZ_PORT=8020