AWS_PROFILE=bixarena-Administrator

TERRAFORM_BACKEND_BUCKET_NAME=sage-bixarena-bootstrap-terraform-backend-use1-prod
TERRAFORM_BACKEND_BUCKET_REGION=us-east-1
TERRAFORM_BACKEND_DYNAMODB_TABLE=sage-bixarena-bootstrap-terraform-backend-lock-use1-prod

MODULES_GITHUB_OIDC_PROVIDER_EXISTING_PROVIDER_ARN=