SERVER_NAME="openchallenges-kibana"
ELASTICSEARCH_HOSTS='["https://openchallenges-elasticsearch:9200"]'
ELASTICSEARCH_USERNAME="kibana_system"
ELASTICSEARCH_PASSWORD="changeme"
ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES="/usr/share/kibana/config/certs/ca/ca.crt"