@if (useGoogleTagManager) {
  <sage-google-tag-manager />
}
<div id="container">
  <explorers-header
    headerLogoPath="/model-ad-assets/images/header-logo.svg"
    [headerLinks]="headerLinks"
    [footerLinks]="footerLinks"
  ></explorers-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <explorers-footer
    footerLogoPath="/model-ad-assets/images/footer-logo.svg"
    [footerLinks]="footerLinks"
    siteVersion="1.0.0"
    dataVersion="23.2"
  ></explorers-footer>
</div>
