@if (useGoogleTagManager) {
  <web-shared-angular-analytics-gtm />
}
<div id="container">
  <explorers-header
    headerLogoPath="/model-ad-assets/images/header-logo.svg"
    [headerLinks]="headerLinks"
    [footerLinks]="footerLinks"
  >
    <model-ad-search-input [searchPlaceholder]="'Search models'" />
  </explorers-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <explorers-footer
    footerLogoPath="/model-ad-assets/images/footer-logo.svg"
    [footerLinks]="footerLinks"
    [siteVersion]="siteVersion"
    [dataVersion]="dataVersion"
  ></explorers-footer>
</div>
<p-toast class="global-toast" position="bottom-center"></p-toast>
