API_DOCS_URL="http://localhost:8400/api-docs"
APP_VERSION="edge"
CSR_API_URL="http://localhost:8400/api/v1"
SSR_API_URL="http://amp-als-dataset-service:8404/v1"
ROLLBAR_TOKEN="e788198867474855a996485580b08d03"
TAG_NAME="edge"