services:
  openchallenges-api-docs:
    image: ghcr.io/sage-bionetworks/openchallenges-api-docs:${OPENCHALLENGES_VERSION:-local}
    container_name: openchallenges-api-docs
    restart: always
    env_file:
      - ../../../apps/openchallenges/api-docs/.env
    networks:
      - openchallenges
    ports:
      - '8010:8010'
    deploy:
      resources:
        limits:
          memory: 200M
