services:
  openchallenges-config-server:
    image: ghcr.io/sage-bionetworks/openchallenges-config-server:${OPENCHALLENGES_VERSION:-local}
    container_name: openchallenges-config-server
    restart: always
    env_file:
      - ../../../apps/openchallenges/config-server/.env
    networks:
      - openchallenges
    ports:
      - '8090:8090'
    deploy:
      resources:
        limits:
          memory: 1G
    depends_on:
      openchallenges-vault:
        condition: service_healthy
