services:
  openchallenges-mariadb:
    image: ghcr.io/sage-bionetworks/openchallenges-mariadb:${OPENCHALLENGES_VERSION:-local}
    container_name: openchallenges-mariadb
    restart: always
    env_file:
      - ../../../apps/openchallenges/mariadb/.env
    volumes:
      # - openchallenges-mariadb:/data/db
      - ../../../apps/openchallenges/mariadb/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    networks:
      - openchallenges
    ports:
      - '3306:3306'
    deploy:
      resources:
        limits:
          memory: 500M
