services:
  openchallenges-mysqld-exporter:
    image: ghcr.io/sage-bionetworks/openchallenges-mysqld-exporter:${OPENCHALLENGES_VERSION:-local}
    container_name: openchallenges-mysqld-exporter
    restart: always
    env_file:
      - ../../../apps/openchallenges/mysqld-exporter/.env
    networks:
      - openchallenges
    ports:
      - '9104:9104'
    # deploy:
    #   resources:
    #     limits:
    #       memory: 200M
