services:
  openchallenges-rstudio:
    image: ghcr.io/sage-bionetworks/openchallenges-rstudio:${OPENCHALLENGES_VERSION:-local}
    container_name: openchallenges-rstudio
    restart: always
    env_file:
      - ../../../apps/openchallenges/rstudio/.env
    volumes:
      - ../../../apps/openchallenges/rstudio/workspace:/home/rstudio/workspace
    networks:
      - openchallenges
    ports:
      - '8787:8787'

networks:
  openchallenges:
    name: openchallenges
