services:
  openchallenges-zipkin:
    image: ghcr.io/sage-bionetworks/openchallenges-zipkin:${OPENCHALLENGES_VERSION:-local}
    container_name: openchallenges-zipkin
    restart: always
    env_file:
      - ../../../apps/openchallenges/zipkin/.env
    networks:
      - openchallenges
    ports:
      - '9411:9411'
    deploy:
      resources:
        limits:
          memory: 500M
