# must match agora/mongo config
DB_USER="root"
DB_PASS="changeme"
DB_NAME="agora"
DB_PORT="27017"
DB_HOST="agora-mongo" # must match mongo service name

# specifies data release manifest and team images folder
DATA_FILE="syn13363290"
DATA_VERSION="73"
TEAM_IMAGES_ID="syn12861877"
SYNAPSE_AUTH_TOKEN="agora-service-user-pat-here"