* @tschaffter

/apps/api/ @tschaffter @vpchung
/apps/db-cli/ @tschaffter @rrchai
/apps/web-app/ @tschaffter @rrchai
/apps/web-app-e2e/ @tschaffter @rrchai

/libs/api-angular/ @tschaffter
/libs/api-spec/ @tschaffter @vpchung
/libs/challenge-shared-web/ @tschaffter @rrchai
/libs/web/ @tschaffter @rrchai