* @tschaffter

/apps/openchallenges/ @tschaffter @rrchai @vpchung
/libs/openchallenges/ @tschaffter @rrchai @vpchung

/apps/schematic/ @linglp @andrewelamb
/libs/schematic/ @linglp @andrewelamb

/libs/shared/ @tschaffter