* @tschaffter

/apps/openchallenges/ @rrchai @tschaffter @vpchung
/libs/openchallenges/ @rrchai @tschaffter @vpchung

/apps/schematic/ @andrewelamb @GiaJordan @linglp @mialy-defelice @milen-sage 
/libs/schematic/ @andrewelamb @GiaJordan @linglp @mialy-defelice @milen-sage 

/libs/shared/ @tschaffter