# Add files here to ignore them from prettier formatting

/dist
/coverage

# Gradle build
build

# Angular
.angular

# Node.js
.pnpm-store
node_modules
pnpm-lock.yaml

# Python
.venv

# Nx
/.nx/cache
/.nx/workspace-data

# Mist
tmp