# Add files here to ignore them from prettier formatting

/dist
/coverage

# Gradle build
build

# Angular
.angular

# Node.js
.pnpm-store
node_modules
pnpm-lock.yaml

# Python
.mypy_cache
.venv
great_expectations

# Nx
/.github/instructions/nx.instructions.md
/.nx/cache
/.nx/workspace-data

# Mist
tmp

# Ignoring until we figure out how to handle different SQL dialects
apps/openchallenges/postgres/docker-entrypoint-initdb.d/init-db.sql

# Prompt files with YAML front matter
.github/prompts/*.md
