@use 'sass:map';
@use '@angular/material' as mat;
@use 'libs/model-ad/themes/src/fonts' as fonts;
@use 'libs/model-ad/themes/src/palettes' as palettes;
@use 'libs/model-ad/themes/src/index' as model-ad;

@include mat.typography-hierarchy(fonts.$lato);
@include mat.core();

$primary: mat.define-palette(palettes.$dark-blue-palette, 600);
$accent: mat.define-palette(palettes.$accent-purple-palette, 400);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: fonts.$lato,
    density: 0,
    is-dark: false,
  )
);

// Add custom palettes used in figma to the theme
$theme: map.deep-merge(
  $theme,
  (
    color: (
      figma: palettes.$figma-collection,
    ),
  )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($theme);

// Emit styles for MatButton based on `$theme`.
@include mat.button-theme($theme);

// Include the theme mixins for other components you use here.
@include model-ad.theme($theme);

:root {
  --color-btn-primary: #39bde7;
  --color-btn-disabled: #ebebe4;
  --color-btn-shadow: rgba(196, 196, 196, 1);
}
