API_DOCS_URL=https://editor-next.swagger.io/?url=https://raw.githubusercontent.com/Sage-Bionetworks/sage-monorepo/refs/heads/main/libs/openchallenges/api-description/openapi/openapi.yaml
API_GATEWAY_HOST=openchallenges-api-gateway
API_GATEWAY_PORT=8082
APP_HOST=openchallenges-app
APP_PORT=4200
MCP_SERVER_HOST=openchallenges-mcp-server
MCP_SERVER_PORT=8887
THUMBOR_HOST=openchallenges-thumbor
THUMBOR_PORT=8889
