version: '3.8'

services:
  openchallenges-keycloak:
    image: ghcr.io/sage-bionetworks/openchallenges-keycloak:local
    container_name: openchallenges-keycloak
    restart: always
    env_file:
      - .env
    volumes:
      - ./data/h2:/opt/keycloak/data/h2
      - ./themes/openchallenges:/opt/keycloak/themes/openchallenges
    networks:
      - openchallenges
    ports:
      - '8080:8080'
    command: start-dev
    deploy:
      resources:
        limits:
          memory: 1G

networks:
  openchallenges:
    name: openchallenges
