<openchallenges-google-tag-manager *ngIf="useGoogleTagManager" />
<openchallenges-navbar
  class="mat-elevation-z6"
  [title]="title"
  [sections]="sections"
  [isLoggedIn]="isLoggedIn"
  [userAvatar]="userAvatar"
  [userMenuItems]="userMenuItems"
  (userMenuItemSelected)="selectUserMenuItem($event)"
  (logInClicked)="login()"
  (sidenavToggle)="sidenav.toggle()"
/>
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">

  </mat-sidenav>
  <mat-sidenav-content>
    <main class="container mat-typography">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
