FLASK_APP=iatlasapi.py
FLASK_ENV=development
FLASK_RUN_PORT=5000
POSTGRES_DB=iatlas_dev
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_PASSWORD=docker
POSTGRES_USER=postgres
PYTHON_IMAGE_VERSION=3.8-alpine
SNAKEVIZ_PORT=8020