GRAFANA_TOKEN=
GRAFANA_URL=http://openchallenges-grafana:3000
GRAFANA_ADMIN_ACCOUNT=openchallenges
GRAFANA_ADMIN_PASSWORD=changeme
VERIFY_SSL=true
AWS_S3_BUCKET_NAME=openchallenges-img-cache
AWS_S3_BUCKET_KEY=grafana
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=