openapi: 3.0.1
info:
  title: Synapse REST API (modified to test the new update workflow)
  version: v1
servers:
  - url: https://repo-prod.prod.sagebase.org
tags:
  - name: Access Approval Services
    description: |-
      The Access Approval services manage the fulfillment of Access Requirements, on a per-user basis.
       (See <a href="#org.sagebionetworks.repo.web.controller.AccessRequirementController">
       Access Requirement Services</a> for more information.)  Most of the Access Approval services
       are available only to members of the Synapse Access and Compliance Team (ACT).
  - name: Access Requirement Services
    description: |-
      These services manage the Access Requirements/Restrictions (ARs) which may be placed on Entities,
       or Teams.  An Access Requirement specifies the type of access being restricted as well
       as how the requirement is fulfilled.
       <p>
       ARs complement Access Control Lists (ACLs) for managing access to Synapse objects.
       While ACLs are managed by entity owners, ARs are managed by the Synapse Access and Compliance Team (ACT), which is
       responsible for governance of sensitive data.  Before one may access data associated with an
       AR, there must be a corresponding Access Approval.  For certain ARs --
       of the "self-sign" variety -- one may grant ones own approval by agreeing to associated
       'terms of use.'  For other Access Requirements -- of the 'ACT' variety -- approval may be granted
       only by the ACT.
       </p>
       <p>
       As stated above, an AR specifies the type of access being controlled.  Generally
       entities are restricted with DOWNLOAD access.  A Synapse user may be able to see that a Synapse
       File exists, but be unable to download the content due to such an AR.  Teams are
       restricted using the PARTICIPATE access type:  Prior to joining a Team a user must fulfill any
       associated ARs controlling this type of access.
       </p>
       <p>
       Entity ARs are inherited from ancestors.  E.g. an AR applied to a Folder will control all Files in the Folder,
       or within sub-folders of the Folder.  Access Requirements are cumulative:  A File will be controlled both
       by ARs applied to it directly and by ARs applied to any and all of its ancestors.
       </p>
       <p>
       Access Requirements are fulfilled on a per-user basis using the <a href="#org.sagebionetworks.repo.web.controller.AccessApprovalController">
       Access Approval Services</a>.
       </p>
  - name: Activity Services
    description: |-
      <p>
       The <a href="${org.sagebionetworks.repo.model.provenance.Activity}">Activity</a>
       model represents the main record of Provenance in Synapse. It is analygous to
       the Activity defined in the <a href="http://www.w3.org/TR/prov-primer/">W3C
       Specification on Provenance</a>.
       </p>
       <h6>Used & Generated By</h6>
       <p>
       Used links are stored directly in the Activity model object as an array of <a href="${org.sagebionetworks.repo.model.provenance.Used}">Used</a> objects.
       There is a flag in <a href="${org.sagebionetworks.repo.model.provenance.Used}">Used</a> that marks
       if it was "executed". <a href="${org.sagebionetworks.repo.model.provenance.Used}">Used</a> is an
       interface that is implemented by two objects:
       </p>
       <ul>
       <li><a href="${org.sagebionetworks.repo.model.provenance.UsedEntity}">UsedEntity</a>
       - For referencing <a href="${org.sagebionetworks.repo.model.Entity}">Entities</a> already stored
       in Synapse</li>
       <li><a href="${org.sagebionetworks.repo.model.provenance.UsedURL}">UsedURL</a> - For
       referencing URL-accessed resources stored outside of Synapse. In Provenance
       visualizations, some URLs are given a special icon, such as links to <a href="https://github.com/">GitHub</a>. Note: it is also possible to wrap a
       URL with a <a href="${org.sagebionetworks.repo.model.FileEntity}">FileEntity</a> if you
       want all the resources that come with Synapse entities.</li>
       </ul>
       <p>
       wasGeneratedBy links are stored for each version of each Entity. Thus you
       update the entity with the activity id that generated it. You can ask the
       entity service which activity generated it, and conversely you can ask the
       activity service what entity versions were generatedBy a given activity.
       </p>
       <h6>Access Control for Activities</h6>
       <p>
       Access to <a href="${org.sagebionetworks.repo.model.provenance.Activity}">Activity</a>
       objects is dictated by the following rules:
       <ul>
       <li><b>READ</b> - Granted to those users who can see a single Entity that was
       generated by this Activity.</li>
       <li><b>UPDATE/DELETE</b> - You must be the creator of the Activity to modify
       or delete it.</li>
       <li><b>Setting generatedBy for an Entity</b> (see <a href="${POST.entity}">POST
       /entity</a>) - You must be the creator of the activity to connect it to
       an Entity. (The Entity services allow you to specify an activityId that
       creates a generatedBy relationship between an Activity and an Entity.)</li>
       </ul>

       </p>
  - name: Agent Chat Services
    description: |-
      The Synapse chat services allow the user to chat with a 'bot' (agent) that
       has access to Synapse data. By default, Synapse provides a 'baseline' agent
       that has basic access to all of the supported Synapse action group functions
       and knowledge bases. Sage authorized collaborators can create their own
       agents that can also utilize the same action groups and knowledge bases used
       by the baseline agent. The collaborator's agent can then be used to override
       the baseline agent for chat sessions.
       </p>
       To get started, the first step is to create a new session by calling:
       <a href="${POST.agent.session}">POST /agent/session</a>. You will need the
       sessionId from the resulting <a href="${org.sagebionetworks.repo.model.agent.AgentSession}">AgentSession</a>. The
       sessionId uniquely identifies a single conversation between the user and the
       agent. Specifically, the session contains user's chat requests, agent
       responses and all of the data gathered by the agent to meet user requests.
       The session data is the context provided to the Large Language Model (LLM)
       used by the agent. Only the user that create a session will have access to
       its data and be able to use it for an agent conversation.
       </p>
       The user's conversation with an agent is a series of asynchronous jobs under
       the provided sessionId, where each job is started by providing the user's
       prompt to the agent. The job's response will then include the agent's
       response to the user's prompt. Use:
       <a href="POST.agent.chat.async.start">POST /agent/chat/async/start</a> to
       start a chat job and <a href="GET.agent.chat.async.get.asyncToken">GET
       /agent/chat/async/get/{asyncToken}</a> to get the job's results.
  - name: Asynchronous Job Services
    description: |-
      This is a generic set of services that provides support for both launching
       asynchronous jobs and monitoring the progress of jobs.
  - name: Authentication Services
    description: |-
      <p>
       Provides REST APIs for managing and obtaining the necessary credentials to access Synapse.
       </p>
       <p>
       Authentication to Synapse services requires an access token passed in the HTTP Authorization
       header, as per the <a href="https://tools.ietf.org/html/rfc6750#section-2.1">HTTP bearer authorization</a> standard.
       The access token incorporates a set of 'scopes' and the documentation for each service requiring
       authorization lists the scopes which the access token must include in order to use that service.
       <p/>
       <p>
       Synapse currently supports four modes of obtaining an access token:
       </p>
       <ul>
       <li>Present username and password</li>
       <li>Authentication via a whitelisted OAuth 2.0 provider</li>
       <li>Authentication via a registered OAuth 2.0 client</li>
       <li>Exchange an access token for Personal Access Token</li>
       </ul>
       <p>
       The username and password are exchanged for an access token
       using <a href="${POST.login2}">POST /login2</a> service.
       This method should only be used by Synapse itself.  No other
       application should prompt a user for their user name and password.
       </p>
       <p>
       Synapse allows authentication via a white listed OAuth 2.0 provider.  Currently only Google is supported.
       The final step is <a href="${POST.oauth2.session2}">POST /oauth2/session2</a> which returns an access token
       which is included as a Bearer token in the Authorization header of
       subsequent requests as described above.  Only Synapse itself may use this service, as redirection back
       from the OAuth2 provider is only allowed to the Synapse web portal.
       </p>
       <p>
       A registered OAuth 2.0 client can use the <a href="#org.sagebionetworks.auth.controller.OpenIDConnectController">OAuth 2.0 services</a>
       to authenticate, the final step of which is a request to the token endpoint:
       <a href="${POST.oauth2.token}">POST /oauth2/token</a>
       The returned access token is included as a Bearer token in the Authorization header of
       subsequent requests as described above.
       </p>
       <p>
       A user may freely generate up to 100 Personal access tokens (PATs) with scoped access using
       <a href="${POST.personalAccessToken}">POST /personalAccessToken</a>. Unlike OAuth access tokens,
       <ul>
           <li>PATs can be freely generated by a user alone and are not linked to any third party OAuth client and</li>
           <li>While ATs have a strict 24 hour lifetime, PATs are long lived, and will only expire if unused for 180 consecutive days</li>
       </ul>
       For these reasons, it is critical to treat PATs as sensitive credentials, like passwords. If a user creates more than 100 tokens, then
       the least-recently used token(s) will be deleted until the user has no more than 100 tokens.
       </p>
       <p>
       The returned personal access token is included as a Bearer token in the Authorization header of
       subsequent requests as described above.
       </p>
  - name: Authentication Services (2FA)
    description: |-
      <p>
       APIs to manage two factor authentication (2FA) in Synapse.
       </p
       <p>
       Synapse currently supports using authenticator applications that can generate a <a href="https://en.wikipedia.org/wiki/Time-based_one-time_password">TOTP</a> that is used as a second factor.
       </p>
       <p>
       To enable 2FA two requests are involved:

       <ol>
       <li><a href="${POST.2fa.enroll}">POST /2fa/enroll</a>: Generates a shared secret that is added to the user authenticator application</li>
       <li><a href="${POST.2fa}">POST /2fa</a>: Enables a specific secret generated by 1. to be used as second factor</li>
       </ol>
       </p>

       <p>
       In order to login through 2FA an additional request needs to be performed after the user attempts to authenticate (e.g. through the <a href="${POST.login2}">POST /login2</a> API).
       If the user has 2FA enabled, they will receive a 401 and the body of the response will contain a twoFaToken that can be used in the <a href="${POST.2fa.token}">POST /2fa/token</a> API to obtain an access token.
       </p>

       <p>
       The user can additionally generate a set of recovery codes using the <a href="${POST.2fa.recoveryCodes}">POST /2fa/recoveryCodes</a> API. The codes are one time use and can be used in place of a TOTP code when
       performing 2FA authentication. The body of the <a href="${POST.2fa.token}">POST /2fa/token</a> request should specify as otpType RECOVERY_CODE and the value of the otpCode should match one of the generated codes.
       </p>
  - name: Certified User Services
    description: |-
      To become a Synapse Certified User you must pass a test.  The Synapse APIs include
       a service to provide the test and a service to submit a test result.  There are also
       administrative services to retrieve the history of test submissions.
  - name: Challenge Services
    description: |-
      A Challenge is a special object that supplements a project, providing additional features
       specific to challenges.  This set of services provides "CRUD" for Challenge objects and
       ChallengeTeam objects, which register a Team for a Challenge.  The services also provide
       a number of queries regarding Challenges, challenge participants and challenge Teams.
  - name: DOI Services
    description: Provides REST APIs for managing Synapse DOIs.
  - name: Data Access Services
    description: |-
      <p>Some data in Synapse are governed by an ACTAccessRequirement. To gain access
       to these data, a user must meet all requirements specified in the ACTAccessRequirement.</p>
       <br>
       <p>These services provide the APIs for users to create request to gain access to
       controlled data, and APIs for the ACT to review and grant access to users.</p>
  - name: Discussion Services
    description: |-
      <p>Discussions in Synapse are captured in the Project's Forum. Each
       Project has a Forum. Each Forum has a set of Moderators. The Moderators manage
       the content of the Forum.</p>
       <br>
       <p>A Forum has multiple Threads. A Thread is created by an authorized user.
       Other authorized users can view and reply to an existing Thread.</p>
       <br>
       <p>These services provide the APIs for Moderators and authorized users to
       create, edit, and manage the conversations that happen in Synapse.</p>
       <br>
  - name: Docker Authorization Services
    description: |-
      These services allow Synapse to act as an authorization service for a Docker Registry.
       For more details see: https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md

       Authorization is either:
       <ul>
       <li>User name and password, included in the request as a Basic Authorization header</li>
       <li>An oauth access token, passed as a Bearer Authorization header.  To execute 'docker pull' the access token must include 'download'
       scope; to execute 'docker push' the access token must include 'modify' scope and should include 'download' scope.</li>
       </ul>
  - name: Docker Commit Services
    description: |-
      These services relate to the 'commits' to Docker repositories.
       Note that create, update and delete of the Docker repositories themselves are done using
       the <a href="#org.sagebionetworks.repo.web.controller.EntityController">Entity Services</a>,
       for external/unmanaged repositories, or by direct integration with the Docker registry, for managed
       Docker repositories.  Tagged commits for both managed and external/unmanaged repositories may be
       retrieved using the 'listDockerTags' API included in this service.
  - name: Docker Registry Event Services
    description: |-
      These services process events from the Docker Registry.
       They are separated from other Docker Controllers because the authorization
       is different, i.e. basic authorization using a key/value pair.

       These services are not intended to be used by Synapse clients, only by
       the Docker registry.
  - name: Download List Services
    description: |-
      Services for managing a user's download list.
       </p>
       Files can be added to the user's download list using
       <a href="${POST.download.list.add}">POST /download/list/add</a>. Files can be
       removed from the user's download by calling either
       <a href="${POST.download.list.remove}">POST /download/list/remove</a>, or the
       entire list can be cleared with: <a href="${DELETE.download.list}">DELETE
       /download/list</a>.
       </p>
       In order to query the files on a user's download list, first start an
       asynchronous job using <a href="${POST.download.list.query.async.start}">POST
       /download/list/query/async/start</a> to get an asynchToken. The job results
       can be monitored using
       <a href="${GET.download.list.query.async.get.asyncToken}">GET
       /download/list/query/async/get/{asyncToken}</a>. While the job is still
       processing the GET call will return a status code of 202 (ACCEPTED). Once the
       job is complete the GET call will return a status code of 200 with the
       response body.
       </p>
       <b>Download List Service Limits</b>
       <table border="1">
       <tr>
       <th>resource</th>
       <th>limit</th>
       <th>notes</th>
       </tr>
       <tr>
       <td>Maximum number of files on a user's download list</td>
       <td>100,000 files</td>
       <td></td>
       </tr>
       <tr>
       <td>Maximum batch size for adding/removing files</td>
       <td>1000 files</td>
       <td></td>
       </tr>
       </table>
  - name: Drs Services
    description: |-
      <p>
       The <a href="https://ga4gh.github.io/data-repository-service-schemas/preview/release/drs-1.2.0/docs/">
       Data Repository Service</a> API provides access to data objects in single, standard way regardless of
       where they are stored and how they are managed. The data objects for which information can be fetched are
       <a href="${org.sagebionetworks.repo.model.FileEntity}">FileEntity</a> and
       <a href="${org.sagebionetworks.repo.model.table.Dataset}">Dataset</a>.The data object that is downloaded is a file.
       </p>
       <p>
       The supported end points for DRS are:
           <ul>
               <li><a href="${GET.service-info}"> GET /service-info</a></li>
               <li><a href="${GET.objects.object_id}"> GET /objects/{object_id}</a></li>
           </ul>
       </p>
       <p>
           Use the <a href="${GET.service-info}"> GET /service-info </a> API to get information about GA4GH-compliant web services,
           including DRS services, to be aggregated into registries and made available via a standard API.
           </p>
           Use the <a href="${GET.objects.object_id}"> GET /objects/{object_id} </a> API to get information about individual DRS objects.
           </p>
  - name: Entity Bundle Services V2
    description: |-
      <p>
       The Entity Bundle Services provide bundled access to Entities and their related data components.
       An EntityBundle can be used to create, fetch, or update an Entity and associated objects with a
       single web service request.
       </p>
  - name: Entity Services
    description: |-
      <p>
       All data in Synapse is organize into
       <a href="${org.sagebionetworks.repo.model.Project}">Projects</a>. These
       Projects can be further organized into hierarchical
       <a href="${org.sagebionetworks.repo.model.Folder}">Folders</a>. Finally, the
       data is then represented by
       <a href="${org.sagebionetworks.repo.model.FileEntity}">FileEntities</a> that
       reside within Folders or directly within Projects. All these objects
       (Projects, Folders, FileEntities) are derived from a common object called
       <a href="${org.sagebionetworks.repo.model.Entity}">Entity</a>. The Entity
       Services provide the means to create, read, update, and delete Synapse
       Entities. There are also services for navigating the Entity hierarchies ,
       setting Authorization rules, and Annotating Entities.
       </p>
       <p>
       In addition to the basic entity types (Project, Folder, & FileEntity),
       Synapse also supports the following Entity types:
       <ul>
       <li><a href="${org.sagebionetworks.repo.model.table.TableEntity}">TableEntity</a></li>
       <li><a href="${org.sagebionetworks.repo.model.docker.DockerRepository}">DockerRepository</a></li>
       <li><a href="${org.sagebionetworks.repo.model.table.EntityView}">EntityView</a></li>
       <li><a href="${org.sagebionetworks.repo.model.table.SubmissionView}">SubmissionView</a></li>
       <li><a href="${org.sagebionetworks.repo.model.table.Dataset}">Dataset</a></li>
       <li><a href="${org.sagebionetworks.repo.model.table.DatasetCollection}">DatasetCollection</a></li>
       <li><a href="${org.sagebionetworks.repo.model.table.MaterializedView}">MaterializedView</a></li>
       <li><a href="${org.sagebionetworks.repo.model.table.VirtualTable}">VirtualTable</a></li>
       </ul>
       </p>
       <p>
       The following methods provide the basic Create, Read, Update, Delete (CRUD)
       for Entities:
       </p>
       <ul>
       <li><a href="${POST.entity}">POST /entity</a></li>
       <li><a href="${GET.entity.id}">GET /entity/{id}</a></li>
       <li><a href="${PUT.entity.id}">PUT /entity/{id}</a></li>
       <li><a href="${DELETE.entity.id}">DELETE /entity/{id}</a></li>
       </ul>
       <h6>Annotations</h6>
       <p>
       An Entity can be annotated using the
       <a href="${PUT.entity.id.annotations2}">PUT /entity/{id}/annotations2</a>
       method. Each annotation is a key-value pair. The
       <a href="${GET.entity.id.annotations2}">GET /entity/{id}/annotations2</a>
       method can be used to get the current annotations of an entity.
       </p>
       <h6>Authorization</h6>
       <p>
       An Entity's authorization is controlled by the Entity's
       <a href="${org.sagebionetworks.repo.model.AccessControlList}">Access Control
       List (ACL)</a>. When a new Project is created a new ACL is automatically
       created for the Project. New Folders and FileEnties start off inheriting the
       ACL of their containing Project. This means they do not have their own ACL
       and all authorization is controlled by their Project's ACL. The term
       'benefactor' is used to indicate which Entity an Entity inherits its ACL
       from. For example, a newly created Project will be its own benefactor, while
       a new FileEntity's benefactor will start off as its containing Project. The
       current benefactor of any Entity can be determined using the
       <a href="${GET.entity.id.benefactor}">GET /entity/{id}/benefactor</a> method.
       </p>
       <p>
       For the case where a Folder or FileEntity needs its own ACL (as opposed to
       inheriting it from its containing Project) a new ACL can be created for the
       Entity using the <a href="${POST.entity.id.acl}">POST /entity/{id}/acl</a>
       method. When a new ACL is created for an Entity it will no longer inherit its
       permission from its containing Project and it will become its own benefactor.
       </p>
       <p>
       While creating or updating an ACL, only Certified Users can add DOWNLOAD
       permission for Authenticated Users group.
       </p>
       <p>
       For the case where a Folder or FileEntity no longer needs its own ACL, the
       ACL can deleted using the <a href="${DELETE.entity.id.acl}">DELETE
       /entity/{id}/acl</a> method. When the ACL of an File or Folder is deleted, it
       will automatically be assigned the same benefactor as its parent Entity.
       Deleting the ACL of a Project is not allowed.
       </p>
       <p>
       The <a href="${GET.entity.id.acl}">GET /entity/{id}/acl</a> can be used to
       get an Entity's ACL.
       </p>
       <p>
       To determine what permissions a User has on an Entity, the
       <a href="${GET.entity.id.permissions}">GET /entity/{id}/permissions</a>
       method should be used.
       </p>
       <p>
       In addition to authorization via ACLs, entities may be restricted via
       AccessRequirements (ARs). For more information, see <a href="#org.sagebionetworks.repo.web.controller.AccessRequirementController">
       Access Requirement Services</a> and
       <a href="#org.sagebionetworks.repo.web.controller.AccessApprovalController">
       Access Approval Services</a>
       </p>
       <h6>Versions</h6>
       <p>
       Currently,
       <a href="${org.sagebionetworks.repo.model.FileEntity}">FileEntities</a> are
       "versionable" meaning it is possible for it to have multiple versions of the
       file. Whenever, a FileEntity is updated with a new
       <a href="${org.sagebionetworks.repo.model.file.FileHandle}">FileHandle</a>
       whose MD5 differs from the MD5 of the current file hanlde a new version of
       the FileEntity is automatically created. The history of a FileEntity can be
       retrieved using <a href="${GET.entity.id.version}">GET
       /entity/{id}/version</a> method. A specific version of a FileEntity can be
       retrieved using <a href="${GET.entity.id.version.versionNumber}">GET
       /entity/{id}/version/{versionNumber}</a> method. The Annotations of a
       specific version of an FileEntity can be retrieved using the
       <a href="${GET.entity.id.version.versionNumber.annotations2}">GET
       /entity/{id}/version/{versionNumber}/annotations</a> method.
       </p>
       <p>
       Despite being <a href="${org.sagebionetworks.repo.model.VersionableEntity}">versionable</a>,
       <a href="${org.sagebionetworks.repo.model.table.TableEntity}">Tables</a>,
       <a href="${org.sagebionetworks.repo.model.table.View}">Views</a> and <a href="${org.sagebionetworks.repo.model.table.MaterializedView}">Materialized
       Views</a> are versioned using snapshots: see
       <a href="${POST.entity.id.table.snapshot}">POST
       /entity/{id}/table/snapshot</a> and
       <a href="${POST.entity.id.table.transaction.async.start}">POST
       /entity/{id}/table/transaction/async/start</a>.
       </p>
       <p>
       <b><i>Note: </b>Only the File and Annotations of an Entity are included in
       the version. All other components of an Entity such as description, name,
       parent, ACL, and WikiPage are <b>not</b> not part of the version, and will
       not vary from version to version.</i>
       </p>
       <h6>JSON Schemas</h6>
       <p>
       Each Entity type and Model object in Synapse is defined by a JSON schema. The
       <a href="${GET.REST.resources}">GET /REST/resources</a> method will list the
       full name of all Resources used by Synapse. The schema for each Resource is
       accessible via <a href="${GET.REST.resources.schema}">GET
       /REST/resources/schema</a>. Note: Many of these resources are composition
       objects and one must navigate various interfaces of an object to fully digest
       it. Therefore, a flattened (or effective) schema for each resource is
       available from the <a href="${GET.REST.resources.effectiveSchema}">GET
       /REST/resources/effectiveSchema</a>
       </p>
       <b>Entity Service Limits</b>
       <table border="1">
       <tr>
       <th>resource</th>
       <th>limit</th>
       </tr>
       <tr>
       <td>Maximum size of an Entity.name</td>
       <td>256 characters</td>
       </tr>
       <tr>
       <td>Maximum size of an Entity.desciption</td>
       <td>1000 characters</td>
       </tr>
       </tr>
       <tr>
       <td>Maximum number of versions for a single Entity</td>
       <td>15,000</td>
       </tr>
       <tr>
       <td>Maximum number of keys in Annotations</td>
       <td>100</td>
       </tr>
       <tr>
       <td>Maximum number of values associated with a single key in Annotations</td>
       <td>100</td>
       </tr>
       <tr>
       <td>Maximum total character count for all values associated with a single key
       in Annotations when the AnnotationValueType is STRING</td>
       <td>500</td>
       </tr>
       <tr>
       <td>Maximum hierarchical depth of an Entity</td>
       <td>50</td>
       </tr>
       </table>
  - name: Evaluation Services
    description: |-
      <p>
       The Evaluation API is designed to support open-access data analysis and modeling challenges in
       Synapse. This framework provides tools for administrators to collect and analyze data models
       from Synapse users created for a specific goal or purpose.
       </p>

       <p>
       The data model of the Evaluation API is built around around two primary objects:
       <ul>
       <li> <a href="${org.sagebionetworks.evaluation.model.Evaluation}">Evaluation</a>: The primary
       object representing a Synapse Evaluation. Access to Evaluations is governed by an <a href="${org.sagebionetworks.repo.model.AccessControlList}">Access Control
       List (ACL)</a>.
       </li>
       <li> <a href="${org.sagebionetworks.evaluation.model.Submission}">Submission</a>: A user
       in a Synapse Evaluation can submit a Synapse Entity as Submission to that Evaluation. Submission
       data is owned by the parent Evaluation, and is immutable.
       </ul>
       </p>

       <p>
       The data model includes additional objects to support scoring of Submissions and convenient data
       access:
       <ul>
       <li> <a href="${org.sagebionetworks.evaluation.model.SubmissionStatus}">SubmissionStatus</a>: An
       object used to track scoring information for a single Submission. This object is intended to be
       modified by the users (or test harnesses) managing the Evaluation.
       </li>
       <li> <a href="${org.sagebionetworks.evaluation.model.SubmissionBundle}">SubmissionBundle</a>:
       A convenience object to transport a Submission and its accompanying SubmissionStatus in a single
       web service call.
       </li>
       <li> <a href="${org.sagebionetworks.repo.model.table.SubmissionView}">SubmissionView</a>:
       A submission view can be created using the
       <a href="${org.sagebionetworks.repo.web.controller.EntityController}">Entity Services</a> providing
       as scope a list of evaluation ids, in order to query the set of submissions through
       the <a href="${POST.entity.id.table.query.async.start}">Table Query Services</a>.
       <a href="${org.sagebionetworks.repo.model.annotation.v2.Annotations}">Annotations</a> set in
       the submissionAnnotations property of a <a href="${org.sagebionetworks.evaluation.model.SubmissionStatus}">SubmissionStatus</a>
       can be exposed in the view.
       </li>
       </ul>
       </p>

       The Evaluation API supports data access mechanisms to monitor Evaluation activity for on-demand
       scoring and leaderboarding.
  - name: File Services
    description: |-
      <p>
       A FileHandle is an abstraction for a reference to a file in Synapse.  For details on the various types see: <a href="${org.sagebionetworks.repo.model.file.FileHandle}">FileHandle</a>.
       </p>
       <p>
       <b>Multi-part File Upload API</b>
       </p>
       <p>
       In order to ensure file upload is robust, all files must be uploaded to
       Synapse in 'parts'. This means clients are expected to divide each file into
       'parts' and upload each part separately. Since Synapse tracks the state of
       all multi-part uploads, upload failure can be recovered simply by uploading
       all parts that Synapse reports as missing.
       </p>
       <p>
       <i>Note: For multi-part upload 1 MB is defined as 1024*1024 bytes </i>
       </p>
       <p>
       The first task in multi-part upload is choosing a part size. The minimum part
       size is 5 MB (1024*1024*5) and the maximum part size is 5 GB (1024*1024*1024*5).
       Therefore, any file with a size less than or equal to 5 MB will have a single part and a partSize=5242880.
       The maximum number of parts for a single file 10,000 parts. The following should be used
       to choose a part size:
       </p>
       <p>
       partSize = max(5242880, (fileSize/10000))
       </p>
       <p>
       Once a partSize is chosen, a multi-part upload can be started using the
       following: <a href="${POST.file.multipart}">POST /file/multipart</a> which
       will return an <a href="${org.sagebionetworks.repo.model.file.MultipartUploadStatus}">MultipartUploadStatus</a>. The client is expected to use
       MultipartUploadStatus to drive the upload. The client will need to upload
       each missing part (parts with '0' in the partsState) as follows:
       </p>
       <p>
       <ol>
       <li>Get a pre-signed URL to upload the part to using: <a href="${POST.file.multipart.uploadId.presigned.url.batch}">POST
       /file/multipart/{uploadId}/presigned/url/batch</a></li>
       <li>Upload the part to the pre-signed URL using HTTPs PUT</li>
       <li>Add the part to the multi-part upload using: <a href="${PUT.file.multipart.uploadId.add.partNumber}">PUT
       /file/multipart/{uploadId}/add/{partNumber}</a></li>
       </ol>
       </p>
       <p>
       Once all parts have been successfully added to the multi-part upload, the
       upload can be completed using: <a href="${PUT.file.multipart.uploadId.complete}">PUT
       /file/multipart/{uploadId}/complete</a> to produce a new <a href="${org.sagebionetworks.repo.model.file.FileHandle}">FileHandle</a> If
       the upload fails for any reason, the client should start over ( <a href="${POST.file.multipart}">POST /file/multipart</a>) and continue by
       uploading any parts that are reported as missing.
       </p>
       <p>
       <b>Multi-part File Copy API</b>
       </p>
       <p>
       The multipart API supports a robust copy of existing files to other locations (e.g. in case of a data migration)
       without the need to download and re-upload the file. This is currently supported only from and to S3 storage locations that reside in the same region.
       In order to initiate a multipart copy, a <a href="${POST.file.multipart}">POST /file/multipart</a> request can be sent
       using as the body of the request a <a href="${org.sagebionetworks.repo.model.file.MultipartUploadCopyRequest}">MultipartUploadCopyRequest</a>.
       </p>
       <p>
       The part size allows to parallelize the copy in multiple sub-parts, the same limits of the upload applies to the copy (e.g. it is possible to copy
       a file in a single part up to 5 GB). When initiating a copy we recommend to choose the part size as follows:
       </p>
       <p>
       partSize = max(104857600, (fileSize/10000))
       </p>
       <p>
       Once the multipart copy is initiated the process is the same as the multipart upload:
       </p>
       <p>
       <ol>
       <li>
       Get the part copy pre-signed URLs using: <a href="${POST.file.multipart.uploadId.presigned.url.batch}">POST
       /file/multipart/{uploadId}/presigned/url/batch</a>
       </li>
       <li>
       For each pre-signed URL perform an HTTP PUT request with no body, the response of the previous endpoint contains a map of headers that are
       signed with the URL, all of the headers MUST be included in the PUT request.
       </li>
       <li>Once the copy request is performed, add the part to the multi-part copy using: <a href="${PUT.file.multipart.uploadId.add.partNumber}">PUT
       /file/multipart/{uploadId}/add/{partNumber}</a>.
       The value of the partMD5Hex parameter will be MD5 checksum returned in the response of the request sent to the pre-signed URL.
       </li>
       <li>
       Once all parts have been successfully added to the multi-part copy, the
       copy can be completed using: <a href="${PUT.file.multipart.uploadId.complete}">PUT
       /file/multipart/{uploadId}/complete</a> to produce a new <a href="${org.sagebionetworks.repo.model.file.FileHandle}">FileHandle</a>
       </li>
       </ol>
       </p>
       <p>
       Note about the copy integrity: The resulting file handle will have the same content MD5 of the source file handle, but synapse
       does not try to re-compute or verify this value. Instead, the integrity check is performed by the cloud provider (currently only S3)
       during the copy request for the part (the request sent to the pre-signed URL). Each copy pre-signed URL is signed with a special
       header that makes sure that the source file didn't change during the copy, if this is the case the PUT request to the pre-signed URL
       will fail and a new copy should be re-started.
       </p>
       <p>
       <b>Associating FileHandles with Synapse objects</b>
       </p>
       <p>
       FileHandles can be associated with various type of objects such as a <a href="${org.sagebionetworks.repo.model.FileEntity}">FileEntity</a> and  <a href="${org.sagebionetworks.repo.model.wiki.WikiPage}">WikiPage</a>. The full list of association types can be found in the <a href="${org.sagebionetworks.repo.model.file.FileHandleAssociateType}">FileHandleAssociateType</a> enumeration.
       <p>
       Note that a file handle MUST always be associated with an object, if a file handle is not associated with an objects for more than 30 days Synapse will mark it as <a href="${org.sagebionetworks.repo.model.file.FileHandleStatus}">UNLINKED</a> and eventually archive or delete it from the system.
       </p>
       <p>
       For more information see the following:
       </p>
       <ul>
       <li><a href="${org.sagebionetworks.repo.model.FileEntity}">FileEntity</a>
       <li><a href="${POST.entity}">POST /entity</a>
       <li><a href="${PUT.entity.id}">PUT /entity/{id}</a>
       <li><a href="${GET.entity.id.filepreview}">GET /entity/{id}/filepreview</a>
       <li><a href="${GET.entity.id.version.versionNumber.filepreview}">GET
       /entity/{id}/version/{versionNumber}/filepreview</a>
       <li><a href="${GET.entity.id.filehandles}">GET /entity/{id}/filehandles</a>
       <li><a href="${GET.entity.id.version.versionNumber.filehandles}">GET
       /entity/{id}/version/{versionNumber}/filehandles</a>
       <li><a href="${POST.fileHandle.batch}">POST /fileHandle/batch</a>
       </ul>
       <b>Service Limits</b>
       <table border="1">
       <tr>
       <th>resource</th>
       <th>limit</th>
       <th>notes</th>
       </tr>
       <tr>
       <td>Minimum file size</td>
       <td>0 bytes</td>
       <td></td>
       </tr>
       <tr>
       <td>Maximum file size</td>
       <td>5 TB (5,497,558,100,000 bytes)</td>
       <td></td>
       </tr>
       <tr>
       <tr>
       <td>Maximum number of parts</td>
       <td>10,000</td>
       <td></td>
       </tr>
       <td>Minimum file part size</td>
       <td>5 MB (5,242,880 bytes)</td>
       <td>The recommended part size for an upload is max(5242880, (fileSize/10000)). For a copy max(104857600, (fileSize/10000)).</td>
       </tr>
       <tr>
       <td>Maximum file part size</td>
       <td>5 GB (5,368,709,120 bytes)</td>
       <td></td>
       </tr>
       </table>
  - name: Form Services
    description: |-
      Collection of APIs from managing and submitting form data. There are two
       basic objects:
       <ul>
       <li><a href="${org.sagebionetworks.repo.model.form.FormData}">FormData</a> -
       Represent an end user's data gathered from a form template. All FormData
       belongs to a single FormGroup.</li>
       <li><a href="${org.sagebionetworks.repo.model.form.FormGroup}">FormGroup</a>
       - Represents a grouping of FormData with an
       <a href="${org.sagebionetworks.repo.model.AccessControlList}">Access Control
       List (ACL)</a> for administration. The ACL controls both who can submit data
       to the group and who has access to the submitted data.</li>
       </ul>
       <p>
       To download the data associated with a FormData object use:
       <a href="${POST.fileHandle.batch}">POST /fileHandle/batch</a> providing the
       formData.dataFileHandleId with <a href="${org.sagebionetworks.repo.model.file.FileHandleAssociateType}">FileHandleAssociateType.FormData</a>
  - name: Grid Services
    description: Services for create and managing grid data session.
  - name: JSON Schema Services
    description: |-
      This set of services provide project designers with tools to define their own
       schemas to control and validate metadata applied to Projects, Folders, and
       Files. All schemas are defined using JSON schemas following
       <a href="https://json-schema.org/">json-schema.org</a> specification.
       <p>
       To get started, you will need to either create a new <a href="${org.sagebionetworks.repo.model.schema.Organization}">Organization</a> or
       join an existing Organization. Each Organization has an AccessControlList
       (ACL) that controls which users/teams are authorized to contribute schemas
       under that Organization's name-space. The Organization's name-space is
       referenced using the Organization's name, which is also the root of all
       schema $ids within the Organization.
       </p>


       <p>
       <b>Binding JSON schemas to Entities:</b>
       <ul>
       <li><a href="${PUT.entity.id.schema.binding}">PUT /entity/{id}/schema/binding</a></li>
       <li><a href="${GET.entity.id.schema.binding}">GET /entity/{id}/schema/binding</a></li>
       <li><a href="${DELETE.entity.id.schema.binding}">DELETE /entity/{id}/schema/binding</a></li>
       </ul>
       </p>
       <p>
       <b>Entity schema validation results:</b>
       <ul>
       <li><a href="${GET.entity.id.schema.validation}">GET /entity/{id}/schema/validation</a></li>
       <li><a href="${GET.entity.id.schema.validation.statistics}">GET /entity/{id}/schema/validation/statistics</a></li>
       <li><a href="${POST.entity.id.schema.validation.invalid}">POST /entity/{id}/schema/validation/invalid</a></li>
       <li><a href="${GET.entity.id.derivedKeys}">GET /entity/{id}/derivedKeys</a></li>
       </ul>
       </p>

       <b>Service Limits</b>
       <table border="1">
       <tr>
       <th>resource</th>
       <th>limit</th>
       </tr>
       <tr>
       <td>Maximum number of characters in a JSON schema</td>
       <td>2^24 characters</td>
       </tr>
       </table>
  - name: Log Service
    description: https://sagebionetworks.jira.com/wiki/display/PLFM/Repository+Service+API#RepositoryServiceAPI-QueryAPI
  - name: Membership Invitation Services
    description: |-
      The Membership Invitation Services create, retrieve and delete
       membership invitations.  A membership invitation is created by a Team administrator
       to invite a Synapse user to join the Team.  Without the invitation it is not possible
       for an outside user to join.  For more on Teams, see
       <a href="#org.sagebionetworks.repo.web.controller.TeamController">Team Services</a>.
  - name: Membership Request Services
    description: |-
      The Membership Request Services create, retrieve and delete
       membership requests.  A membership request is created by a Synapse user
       to request admission to a Team.  Without the request it is not possible
       for a Team to admit the user.  For more on Teams, see
       <a href="#org.sagebionetworks.repo.web.controller.TeamController">Team Services</a>.
  - name: Message Services
    description: |-
      <p>
       Provides REST APIs for sending messages to other Synapse users and for commenting on Synapse entities.
       </p>
  - name: OpenID Connect Services
    description: The OpenID Connect (OIDC) services implement OAuth 2.0 with the OpenID identity extensions.
  - name: Portals Services
    description: Provides APIs to manage Synapse portals, generally managed by Synapse administrators.
  - name: Principal Services
    description: |-
      A <a href="http://en.wikipedia.org/wiki/Principal_%28computer_security%29">
       Principal</a> in Synapse can be a User, Group, or a Team. This is a set of
       services that provides the means to look-up principals by their various
       attributes and also to test unique names such as USER_NAME, USER_EMAIL, or
       TEAM_NAME are available for use.
  - name: Project Settings Services
    description: |-
      The project settings services provide configuration options that can be applied to projects. In particular through the <a href="${POST.projectSettings}">POST /projectSettings</a> and <a href="${PUT.projectSettings}">PUT /projectSettings</a> services
       a user can create or update the setting of a specific <a href="${org.sagebionetworks.repo.model.project.ProjectSettingsType}">type</a> for a project.
       </p>
       Currently supported settings for a project are:

       <ul>
       <li><a href="${org.sagebionetworks.repo.model.project.UploadDestinationListSetting}">UploadDestinationListSetting</a>: Used to customize the storage location for files in a project</li>
       </ul>

       </p>
       The <a href="${POST.storageLocation}">POST /storageLocation</a> service is provided in order to create <a href="${org.sagebionetworks.repo.model.project.StorageLocationSetting}">StorageLocationSetting</a>. The id of a
       <a href="${org.sagebionetworks.repo.model.project.StorageLocationSetting}">StorageLocationSetting</a> can then be set in the <b>locations</b> property of
       the <a href="${org.sagebionetworks.repo.model.project.UploadDestinationListSetting}">UploadDestinationListSetting</a>.
       </p>
       When uploading a file the id of the default <a href="${org.sagebionetworks.repo.model.project.StorageLocationSetting}">StorageLocationSetting</a> to be used on a folder can be retrieved
       using the <a href="${GET.entity.id.uploadDestination}">GET /entity/{id}/uploadDestination</a> service using the id of the parent entity (e.g. a folder or a project).
       </p>
       By setting a custom storage location, users can store the data in their own S3 or Google Cloud bucket. Note that when a folder or a project is configured to use a custom storage location,
       only future uploads through Synapse are affected (e.g. changing the storage location does not automatically change the location of existing files).
       For a guide on setting a custom storage location, see the <a href="https://help.synapse.org/docs/Custom-Storage-Locations.2048327803.html">Custom Storage Location</a> documentation
       article.
       </p>
  - name: Project Storage Services
    description: Services to manage project storage usage and limits.
  - name: Recycle Bin Services
    description: |-
      The recycle bin (or trash can) is the special folder that holds the deleted entities for users.
       <p>
       Services are provided for users to delete entities into the trash can, to view entities
       in the trash can, to purge entities from the trash can, and to restore entities out
       of the trash can.
  - name: Search Services
    description: Search for Entities on Synapse
  - name: Statistics Services
    description: Services that expose statistics computed by the backend.
  - name: Storage Report Services
    description: Provides REST APIs for generating Storage Reports. These may only be used by the Synapse Report Team.
  - name: Subscription Services
    description: |-
      <p>While working in Synapse, users may want to subscribe to different topics
       to receive notifications about changes in those topics.</p>
       <br>
       <p>These services provide the APIs for Synapse users to manage their subscriptions.</p>
       <br>
  - name: Table Services
    description: |-
      <p>
       A Synapse
       <a href="${org.sagebionetworks.repo.model.table.TableEntity}">TableEntity</a>
       model object represents the metadata of a table. Each TableEntity is defined
       by a list of
       <a href="${org.sagebionetworks.repo.model.table.ColumnModel}">ColumnModel</a>
       IDs. Use <a href="${POST.column}">POST /column</a> to create new ColumnModel
       objects. Each ColumnModel object is immutable, so to change a column of a
       table a new column must be added and the old column must be removed.
       TableEntities can be created, updated, read and deleted like any other
       entity:
       <ul>
       <li><a href="${POST.entity}">POST /entity</a></li>
       <li><a href="${GET.entity.id}">GET /entity/{id}</a></li>
       <li><a href="${PUT.entity.id}">PUT /entity/{id}</a></li>
       <li><a href="${DELETE.entity.id}">DELETE /entity/{id}</a></li>
       </ul>
       </p>
       <p>
       <p>
       All ColumnModel objects are publicly viewable and usable. Since each
       ColumnModel is immutable it is safe to re-use ColumnModels created by other
       users. Use the <a href="${GET.column}">GET /column</a> services to list all
       of the existing ColumnModels that are currently in use.
       </p>

       Once the columns for a TableEntity have been created and assigned to the
       TableEntity, rows can be added to the table using
       <a href="${POST.entity.id.table.transaction.async.start}">POST
       /entity/{id}/table/transaction/async/start</a>. Each
       <a href="${org.sagebionetworks.repo.model.table.Row}">Row</a> appended to the
       table will automatically be assigned a rowId and a versionNumber and can be
       found in the resulting
       <a href="${org.sagebionetworks.repo.model.table.RowReferenceSet}">RowReferenceSet</a>. To update a row, simply include the row's rowId in the
       passed <a href="${org.sagebionetworks.repo.model.table.RowSet}">RowSet</a>.
       Any row without a rowId will be treated as a new row. When a row is updated a
       new versionNumber will automatically be assigned the Row. While previous
       versions of any row are kept, only the current version of any row will appear
       in the table index used to support the query service:
       <a href="${POST.entity.id.table.query.async.start}">POST
       /entity/{id}/table/query/async/start</a>
       </p>
       <p>
       Use the <a href="${POST.entity.id.table.query.async.start}">POST
       /entity/{id}/table/query/async/start</a> services to query for the current
       rows of a table. The returned
       <a href="${org.sagebionetworks.repo.model.table.RowSet}">RowSet</a> of the
       table query can be modified and returned to update the rows of a table using
       <a href="${POST.entity.id.table.transaction.async.start}">POST
       /entity/{id}/table/transaction/async/start</a>.
       </p>
       <p>
       There is also an <a href="${org.sagebionetworks.repo.web.controller.AsynchronousJobController}">asynchronous service</a> to
       <a href="${org.sagebionetworks.repo.model.table.UploadToTableRequest}">upload</a> and
       <a href="${org.sagebionetworks.repo.model.table.DownloadFromTableRequest}">download</a> csv files, suitable for large datasets.
       </p>
       <p>
       <b>Table Service Limits</b>
       <table border="1">
       <tr>
       <th>resource</th>
       <th>limit</th>
       <th>notes</th>
       </tr>
       <tr>
       <td>Maximum size of column names</td>
       <td>256 characters</td>
       <td></td>
       </tr>
       <tr>
       <td>Maximum number of enumeration values for a single column</td>
       <td>100</td>
       <td></td>
       </tr>
       <tr>
       <td>Maximum number of columns per table/view</td>
       <td>152</td>
       <td></td>
       </tr>
       <tr>
       <td>The maximum possible width of a table/view</td>
       <td>64 KB</td>
       <td>Each
       <a href="${org.sagebionetworks.repo.model.table.ColumnType}">ColumnType</a>
       has a maximum possible size. The total width of a table/view is the sum of
       the maximum size of each of its columns</td>
       </tr>
       <tr>
       <td>The maximum number of LARG_TEXT columns per table/view</td>
       <td>30</td>
       <td></td>
       </tr>
       <td>Maximum table size</td>
       <td>~146 GB</td>
       <td>All row changes applied to a table are automatically batched into changes
       sets with a maximum size of 5242880 bytes (5 MB). Currently, there is a limit
       of 30,000 change sets per table. Therefore, the theoretical maximum size of
       table is 5242880 bytes * 30,000 = ~ 146 GB.</td>
       </tr>
       <tr>
       <td>The maximum number of projects/folder per view scope</td>
       <td>30 K</td>
       <td>Recursive sub-folders count towards this limit. For example, if a project
       contains more than 30 K sub-folders then it cannot be included in a view's
       scope.</td>
       </tr>
       <tr>
       <td>The maximum number of rows per view</td>
       <td>200 M</td>
       <td>A single folder cannot contain more then 10 K files/folders. Since a
       view's scope is limited to 30 K project/folders, the maximum number of rows
       per view is 10 K * 30 K = 300 M.</td>
       </tr>
       <tr>
       <td>The maximum file size of a CSV that can be appended to a table</td>
       <td>1 GB</td>
       <td></td>
       </tr>
       <tr>
       <td>The maximum size of a single query result</td>
       <td>512000 bytes</td>
       <td></td>
       </tr>
       <tr>
       <td>Entity View only: The maximum total character length for a STRING or STRING_LIST <a href="${org.sagebionetworks.repo.model.table.ColumnType}">ColumnType</a></td>
       <td>500 characters</td>
       <td>Entity Views ONLY! This follows limitations placed on Annotations. For the type STRING_LIST, the total character count is the cumulative length of all string contained in the list.</td>
       </tr>
       <tr>
       <td>Entity View only: The maximum list length for "_LIST" suffixed <a href="${org.sagebionetworks.repo.model.table.ColumnType}">ColumnType</a></td>
       <td>100 values</td>
       <td>Entity Views ONLY! This follows limitations placed on Annotations.</td>
       </tr>
       </table>
  - name: Team Services
    description: |-
      Teams are groups of users.  Teams can be granted access permissions to projects,
       folders and files, and share other resources by adding them to
       <a href="${org.sagebionetworks.repo.model.AccessControlList}">Access Control
       Lists (ACLs)</a>.  Any authenticated Synapse user
       may create a Team, for which they become an administrator.  Team
       administrators may:
       <ul>
       <li> invite other users to join the Team,
       <li> accept membership requests from users wishing to join the Team,
       <li> grant or revoke administrative control to Team members,
       <li> remove a user from the Team.
       </ul>
       <br>
       Other Synapse users may:
       <ul>
       <li> issue membership requests to a Team,
       <li> accept Team membership invitations (join the Team),
       <li> unilaterally choose to leave a Team once added.
       </ul>
  - name: User & Group Services
    description: Auto-generated description
  - name: User Profile Services
    description: Every Synapse user has an associated <a href="${org.sagebionetworks.repo.model.UserProfile}">UserProfile</a>.
  - name: Verification Services
    description: |-
      Identity verification is a service offered by the Synapse Access and Compliance Team
       to add an additional layer of legitimacy to a user account, beyond the basic
       requirements for creating an account in Synapse.  After completing their user
       profile a user may submit a verification request, including supporting documentation.
       The ACT reviews the information then approves or rejects it.  After approval, the
       ACT retains the authority to suspend verification of an account previously verified.
       Once rejected or suspended a user may create a new verification request.
  - name: Webhook Services
    description: |-
      Provides APIs to manage webhooks that are triggered by synapse events.
       <p>
       A webhook can specify the id of a synapse entity to receive events for. For entities that represent a container (folder and project),
       matching events are published to the webhook endpoint for any entity in their hierarchy.
       <p>
       Before events are published to the endpoint, the webhook needs to be verified. A special request is sent to the webhook endpoint
       containing a verification code that can be submitted in the body of the <a href="${POST.webhook.webhookId.verify}">POST /webhook/{webhookId}/verify</a> request.
       <h6>Request Format</h6>
       There are two types of requests that can be sent to an endpoint:
       <ul>
       <li><a href="${org.sagebionetworks.repo.model.webhook.WebhookVerificationMessage}">WebhookVerificationMessage</a>: Sent when a webhook is created or when its endpoint is updated that contains the verification code used to verify the webhook.</li>
       <li><a href="${org.sagebionetworks.repo.model.webhook.WebhookSynapseEventMessage}">WebhookSynapseEventMessage</a>: Sent when a synapse event that match the webhook entity is generated in the backend.</li>
       </ul>
       Each HTTP request will contain the following custom headers:
       <ul>
       <li><b>X-Syn-Webhook-Id</b>: The id of the webhook</li>
       <li><b>X-Syn-Webhook-Message-Type</b>: The type of message body, either Verification or SynapseEvent</li>
       <li><b>X-Syn-Webhook-Message-Id</b>: A unique id for the message</li>
       <li><b>X-Syn-Webhook-Owner-Id</b>: The id of the user that created the webhook</li>
       </ul>
       And the following standard headers:
       <ul>
       <li><b>Content-Type</b>: Always application&#47;json</li>
       <li><b>User-Agent</b>: Set with the prefix Synapse-Webhook&#47;, followed by the synapse stack version</li>
       <li><b>Authorization</b>: Set with the Bearer prefix, followed by an authentication token (See below)</li>
       </ul>
       <h6>Request Handling</h6>
       A request to an endpoint is sent at least once and retried for a maximum of 3 times. The endpoint needs to provide a response within 2 seconds in order for the request to be considered successful,
       otherwise the request is retried. Valid HTTP response codes are:
       <ul>
       <li>200 (OK)</li>
       <li>201 (CREATED)</li>
       <li>202 (ACCEPTED)</li>
       <li>204 (NO CONTENT)</li>
       </ul>
       The following response codes are considered for retrying:
       <ul>
       <li>429 (TOO MANY REQUESTS)</li>
       <li>500 (INTERNAL SERVER ERROR)</li>
       <li>502 (BAD GATEWAY)</li>
       <li>503 (SERVICE UNAVAILABLE)</li>
       <li>504 (GATEWAY TIMEOUT)</li>
       </ul>
       Any other response code is considered a failed delivery and won't be retried. If a webhook endpoint consistently fails to respond to requests, it will eventually be disabled
       and the <a href="${org.sagebionetworks.repo.model.webhook.WebhookVerificationStatus}">verification status</a> of the webhook will be set to REVOKED and will need to be re-verified.
       <h6>Limits</h6>
       Each user is limited to a maximum of 25 webhooks. The webhook endpoint is checked against a white list of allowed domain patterns, currently only the AWS Api Gateway <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-call-api.html">execute-api</a> is allowed.
       For adding a new domain exception you can submit a request to the <a href="https://sagebionetworks.jira.com/servicedesk/customer/portal/9">Synapse Service Desk</a>.
       <h6>Authentication</h6>
       By default each request includes a signed JSON Web Token (JWT) in the <b>Authorization</b> header as a bearer token. The token is signed with a JSON Web Key (JWK) and
       can be verified using the public JWK id specified in the header of the JWT. The public keys are published under the "well-known" discovery document of the issuer (See below).
       <p>
       The JWT will contain a set of <a href="https://www.iana.org/assignments/jwt/jwt.xhtml#claims">standard claims</a> that can be used to validate the token:
       <ul>
       <li><b>iss</b>: The issuer of the token is set to <a href="https://repo-prod.prod.sagebase.org/auth/v1">https://repo-prod.prod.sagebase.org/auth/v1</a>. The openid discovery document (<a href="https://repo-prod.prod.sagebase.org/auth/v1/.well-known/openid-configuration">https://repo-prod.prod.sagebase.org/auth/v1/.well-known/openid-configuration</a>)
       can be used to get information about the JWKs</li>
       <li><b>aud</b>: The audience contains the id of the user that owns the webhook</li>
       <li><b>iat</b>: The timestamp when the token was generated</li>
       <li><b>exp</b>: The expiration time of the token, each token is valid for 30 seconds.</li>
       </ul>
       To verify the integrity of the message, the MD5 of the request body is included under the custom claim <b>message_md5</b> and can be verified against the md5 of the request body once the JWT is verified.
  - name: WikiPage Services
    description: |-
      <p>
       The Synapse <a href="${org.sagebionetworks.repo.model.wiki.WikiPage}">WikiPage</a> model
       object contains the data needed to render an end-user crafted web page. The
       Synapse Web Client will dynamically render a WikiPage into a combination of
       HTML, CSS and Javascript which is then finally rendered as a web page in the
       client's web browser.
       </p>
       <p>
       These services provide support for creating, reading, updating, and
       deleting (CRUD) the WikiPage model objects.
       </p>
       <p>
       WikiPages are composed of two major parts; the raw markdown text and a list
       of file attachments. For example, to embed an image from an end-user's
       machine into a WikiPage, the image file must first be uploaded to Synapse as <a href="${org.sagebionetworks.repo.model.file.FileHandle}">FileHandle</a> (see
       <a href="${org.sagebionetworks.file.controller.UploadController}">File
       Services</a>). The FileHandle ID can then be added to a
       WikiPage.attachmentFileHandleIds list. See <a href="https://www.synapse.org">www.synapse.org</a> for details on the
       supported markdown syntax.
       </p>

       <p>
       WikiPages are not stand-alone objects, instead they are a component of
       another object such as an Entity or Evaluation. For example, when a WikiPage
       is created for an Entity, the Entity becomes the "owner" of the WikiPage.
       Access to the WikiPage is always tied to its owner. For example, to GET a
       WikiPage of an Entity, the caller must have read permission on the Entity.
       </p>
       <p>
       To navigate the hierarchy of WikiPages associated with an owner use the <a href="${GET.entity.ownerId.wikiheadertree}">GET
       /entity/{ownerId}/wikiheadertree</a> method. The returned list of <a href="${org.sagebionetworks.repo.model.wiki.WikiHeader}">WikiHeaders</a> can
       be used to construct a full wiki hierarchy tree for that owner.
       </p>
       <p>
       Note: WikiPages can be nested to created a hierarchy of sub-pages. However,
       there can only be one root WikiPage per owner object, and all sub-pages are
       considered to be owned by the same object as the root page.
       </p>
  - name: WikiPage Services 2
    description: |-
      <p>
       The Synapse <a href="${org.sagebionetworks.repo.model.v2.wiki.V2WikiPage}">V2WikiPage</a> model
       object contains the data needed to render an end-user crafted web page. The
       Synapse Web Client will dynamically render a WikiPage into a combination of
       HTML, CSS and Javascript which is then finally rendered as a web page in the
       client's web browser.
       </p>
       <p>
       These services provide support for creating, reading, updating, and
       deleting (CRUD) the WikiPage model objects.
       </p>
       <p>
       WikiPages are composed of two major parts; a file that contains the markdown text
       and a list of file attachments. For example, to embed an image from an end-user's
       machine into a WikiPage, the image file must first be uploaded to Synapse as <a href="${org.sagebionetworks.repo.model.file.FileHandle}">FileHandle</a> (see
       <a href="${org.sagebionetworks.file.controller.UploadController}">File
       Services</a>). The FileHandle ID can then be added to a
       WikiPage.attachmentFileHandleIds list. See <a href="https://www.synapse.org">www.synapse.org</a> for details on the
       supported markdown syntax. The markdown text is similarly uploaded as a
       FileHandle and its FileHandle ID is tracked by the WikiPage.
       </p>

       <p>
       WikiPages are not stand-alone objects, instead they are a component of
       another object such as an Entity or Evaluation. For example, when a WikiPage
       is created for an Entity, the Entity becomes the "owner" of the WikiPage.
       Access to the WikiPage is always tied to its owner. For example, to GET a
       WikiPage of an Entity, the caller must have read permission on the Entity.
       </p>
       <p>
       To navigate the hierarchy of WikiPages associated with an owner use the <a href="${GET.entity.ownerId.wikiheadertree2}">GET
       /entity/{ownerId}/wikiheadertree2</a> method. The returned list of <a href="${org.sagebionetworks.repo.model.v2.wiki.V2WikiHeader}">V2WikiHeaders</a> can
       be used to construct a full wiki hierarchy tree for that owner.
       </p>
       <p>
       To view a timeline of changes made to a WikiPage, use the
       <a href="${GET.entity.ownerId.wiki2.wikiId.wikihistory}">GET/entity/{ownerId}
       /wiki2/{wikiId}/wikihistory</a> method. The returned list of <a href="${org.sagebionetworks.repo.model.v2.wiki.V2WikiHistorySnapshot}">V2WikiHistorySnapshots
       </a> contain information about who modified the WikiPage and when the changes were made.
       </p>
       <p>
       Note: WikiPages can be nested to created a hierarchy of sub-pages. However,
       there can only be one root WikiPage per owner object, and all sub-pages are
       considered to be owned by the same object as the root page.
       </p>
paths:
  /auth/v1/.well-known/openid-configuration:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/.well-known/openid-configuration
      parameters: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OIDConnectConfiguration'
  /auth/v1/oauth2/jwks:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/jwks
      parameters: []
      responses:
        '200':
          description: the JSON Web Key Set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.JsonWebKeySet'
  /auth/v1/oauth2/client:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/client
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClient'
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClient'
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/client
      parameters:
        - name: nextPageToken
          in: query
          required: false
          description: |-
            returned along with a page of results, this is passed to
             the server to retrieve the next page.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClientList'
  /auth/v1/oauth2/client/secret/{id}:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/client/secret/{id}
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClientIdAndSecret'
  /auth/v1/oauth2/client/{id}:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/client/{id}
      parameters:
        - name: id
          in: path
          required: true
          description: the ID of the client to retrieve
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClient'
    put:
      tags:
        - OpenID Connect Services
      operationId: put-/auth/v1/oauth2/client/{id}
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClient'
        required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClient'
    delete:
      tags:
        - OpenID Connect Services
      operationId: delete-/auth/v1/oauth2/client/{id}
      parameters:
        - name: id
          in: path
          required: true
          description: the ID of the client to delete
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Void
  /auth/v1/oauth2/client/{id}/verificationPrecheck:
    put:
      tags:
        - OpenID Connect Services
      operationId: put-/auth/v1/oauth2/client/{id}/verificationPrecheck
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClient'
        required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClientVerificationPrecheckResult'
  /auth/v1/oauth2/description:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/description
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OIDCAuthorizationRequest'
        required: true
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OIDCAuthorizationRequestDescription'
  /auth/v1/oauth2/consentcheck:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/consentcheck
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OIDCAuthorizationRequest'
        required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthConsentGrantedResponse'
  /auth/v1/oauth2/consent:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/consent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OIDCAuthorizationRequest'
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthAuthorizationResponse'
  /auth/v1/oauth2/token:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/token
      parameters:
        - name: verifiedOauthClientId
          in: header
          required: true
          schema:
            type: string
        - name: grant_type
          in: query
          required: true
          description: authorization_code or refresh_token
          schema:
            $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthGrantType'
        - name: code
          in: query
          required: false
          description: required if grant_type is authorization_code
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: false
          schema:
            type: string
        - name: refresh_token
          in: query
          required: false
          description: required if grant_type is refresh_token
          schema:
            type: string
        - name: scope
          in: query
          required: false
          description: only provided if grant_type is refresh_token
          schema:
            type: string
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OIDCTokenResponse'
  /auth/v1/oauth2/userinfo:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/userinfo
      parameters:
        - name: Synapse-Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/userinfo
      parameters:
        - name: Synapse-Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                type: object
  /auth/v1/oauth2/audit/grantedClients:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/audit/grantedClients
      parameters:
        - name: nextPageToken
          in: query
          required: false
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthClientAuthorizationHistoryList'
  /auth/v1/oauth2/audit/grantedClients/{clientId}/tokens:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/audit/grantedClients/{clientId}/tokens
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
        - name: nextPageToken
          in: query
          required: false
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthRefreshTokenInformationList'
  /auth/v1/oauth2/audit/tokens/{tokenId}/metadata:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/audit/tokens/{tokenId}/metadata
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthRefreshTokenInformation'
    put:
      tags:
        - OpenID Connect Services
      operationId: put-/auth/v1/oauth2/audit/tokens/{tokenId}/metadata
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthRefreshTokenInformation'
        required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthRefreshTokenInformation'
  /auth/v1/oauth2/token/{tokenId}/metadata:
    get:
      tags:
        - OpenID Connect Services
      operationId: get-/auth/v1/oauth2/token/{tokenId}/metadata
      parameters:
        - name: verifiedOauthClientId
          in: header
          required: true
          schema:
            type: string
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthRefreshTokenInformation'
  /auth/v1/oauth2/audit/grantedClients/{clientId}/revoke:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/audit/grantedClients/{clientId}/revoke
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Void
  /auth/v1/oauth2/audit/tokens/{tokenId}/revoke:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/audit/tokens/{tokenId}/revoke
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Void
  /auth/v1/oauth2/revoke:
    post:
      tags:
        - OpenID Connect Services
      operationId: post-/auth/v1/oauth2/revoke
      parameters:
        - name: verifiedOauthClientId
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthTokenRevocationRequest'
        required: true
      responses:
        '204':
          description: Void
  /auth/v1/login2:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/login2
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.LoginRequest'
        required: true
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.LoginResponse'
  /auth/v1/authenticatedOn:
    get:
      tags:
        - Authentication Services
      operationId: get-/auth/v1/authenticatedOn
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.AuthenticatedOn'
  /auth/v1/user/password/reset:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/user/password/reset
      parameters:
        - name: passwordResetEndpoint
          in: query
          required: true
          description: the Portal's url prefix for handling password resets.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.Username'
        required: true
      responses:
        '204':
          description: Void
  /auth/v1/user/changePassword:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/user/changePassword
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.ChangePasswordInterface'
        required: true
      responses:
        '204':
          description: Void
  /auth/v1/termsOfUse2:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/termsOfUse2
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TermsOfServiceSignRequest'
        required: true
      responses:
        '204':
          description: Void
  /auth/v1/termsOfUse2/info:
    get:
      tags:
        - Authentication Services
      operationId: get-/auth/v1/termsOfUse2/info
      parameters: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TermsOfServiceInfo'
  /auth/v1/termsOfUse2/status:
    get:
      tags:
        - Authentication Services
      operationId: get-/auth/v1/termsOfUse2/status
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The status of the terms of service for the current authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TermsOfServiceStatus'
  /auth/v1/termsOfUse2/requirements:
    put:
      tags:
        - Authentication Services
      operationId: put-/auth/v1/termsOfUse2/requirements
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TermsOfServiceRequirements'
        required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TermsOfServiceInfo'
  /auth/v1/secretKey:
    get:
      tags:
        - Authentication Services
      operationId: get-/auth/v1/secretKey
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.SecretKey'
    delete:
      tags:
        - Authentication Services
      operationId: delete-/auth/v1/secretKey
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Void
  /auth/v1/oauth2/authurl:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/oauth2/authurl
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthUrlRequest'
        required: true
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthUrlResponse'
  /auth/v1/oauth2/session2:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/oauth2/session2
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthValidationRequest'
        required: true
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.LoginResponse'
  /auth/v1/oauth2/alias:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/oauth2/alias
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthValidationRequest'
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.principal.PrincipalAlias'
    delete:
      tags:
        - Authentication Services
      operationId: delete-/auth/v1/oauth2/alias
      parameters:
        - name: provider
          in: query
          required: true
          description: the OAuth provider through which the alias was associated
          schema:
            type: string
        - name: alias
          in: query
          required: true
          description: the alias for the user given by the provider
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Void
  /auth/v1/oauth2/account2:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/oauth2/account2
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.oauth.OAuthAccountCreationRequest'
        required: true
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.LoginResponse'
  /auth/v1/personalAccessToken:
    post:
      tags:
        - Authentication Services
      operationId: post-/auth/v1/personalAccessToken
      parameters:
        - name: Synapse-Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.AccessTokenGenerationRequest'
        required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.AccessTokenGenerationResponse'
    get:
      tags:
        - Authentication Services
      operationId: get-/auth/v1/personalAccessToken
      parameters:
        - name: nextPageToken
          in: query
          required: false
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.AccessTokenRecordList'
  /auth/v1/personalAccessToken/{id}:
    get:
      tags:
        - Authentication Services
      operationId: get-/auth/v1/personalAccessToken/{id}
      parameters:
        - name: id
          in: path
          required: true
          description: The unique ID of the token, which is the unique ID (the "jti" claim) contained in the JWT
          schema:
            type: number
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.AccessTokenRecord'
    delete:
      tags:
        - Authentication Services
      operationId: delete-/auth/v1/personalAccessToken/{id}
      parameters:
        - name: id
          in: path
          required: true
          description: The unique ID of the token, which is the unique ID (the "jti" claim) contained in the JWT
          schema:
            type: number
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Void
  /auth/v1/sessionAccessToken:
    delete:
      tags:
        - Authentication Services
      operationId: delete-/auth/v1/sessionAccessToken
      parameters:
        - name: Synapse-Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Void
  /auth/v1/user/{targetUserId}/sessionAccessToken/all:
    delete:
      tags:
        - Authentication Services
      operationId: delete-/auth/v1/user/{targetUserId}/sessionAccessToken/all
      parameters:
        - name: targetUserId
          in: path
          required: true
          description: The user
          schema:
            type: number
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Void
  /auth/v1/2fa/enroll:
    post:
      tags:
        - Authentication Services (2FA)
      operationId: post-/auth/v1/2fa/enroll
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '201':
          description: |-
            The generated TOTP secret that can be used in the user authenticator application, the secret is not active.
             To use this secret for 2FA a ,<a href="${POST.2fa}">,POST /2fa,</a>, must be performed that includes the secret id and a totp code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TotpSecret'
  /auth/v1/2fa:
    post:
      tags:
        - Authentication Services (2FA)
      operationId: post-/auth/v1/2fa
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TotpSecretActivationRequest'
        required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The status of 2FA for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TwoFactorAuthStatus'
    get:
      tags:
        - Authentication Services (2FA)
      operationId: get-/auth/v1/2fa
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The status of 2FA for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TwoFactorAuthStatus'
    delete:
      tags:
        - Authentication Services (2FA)
      operationId: delete-/auth/v1/2fa
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Void
  /auth/v1/2fa/token:
    post:
      tags:
        - Authentication Services (2FA)
      operationId: post-/auth/v1/2fa/token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TwoFactorAuthLoginRequest'
        required: true
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.LoginResponse'
  /auth/v1/2fa/recoveryCodes:
    post:
      tags:
        - Authentication Services (2FA)
      operationId: post-/auth/v1/2fa/recoveryCodes
      parameters: []
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TwoFactorAuthRecoveryCodes'
  /auth/v1/2fa/reset:
    post:
      tags:
        - Authentication Services (2FA)
      operationId: post-/auth/v1/2fa/reset
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TwoFactorAuthResetRequest'
        required: true
      responses:
        '204':
          description: Void
  /auth/v1/2fa/disable:
    post:
      tags:
        - Authentication Services (2FA)
      operationId: post-/auth/v1/2fa/disable
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.auth.TwoFactorAuthDisableRequest'
        required: true
      responses:
        '204':
          description: Void
  /ga4gh/drs/v1/service-info:
    get:
      tags:
        - Drs Services
      operationId: get-/ga4gh/drs/v1/service-info
      parameters: []
      responses:
        '200':
          description: the drs service information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.drs.ServiceInformation'
  /ga4gh/drs/v1/objects/{object_id}:
    get:
      tags:
        - Drs Services
      operationId: get-/ga4gh/drs/v1/objects/{object_id}
      parameters:
        - name: object_id
          in: path
          required: true
          schema:
            type: string
        - name: expand
          in: query
          required: true
          schema:
            type: boolean
      security:
        - bearerAuth: []
      responses:
        '200':
          description: the DRS object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.drs.DrsObject'
  /ga4gh/drs/v1/objects/{object_id}/access/{access_id}:
    get:
      tags:
        - Drs Services
      operationId: get-/ga4gh/drs/v1/objects/{object_id}/access/{access_id}
      parameters:
        - name: object_id
          in: path
          required: true
          schema:
            type: string
        - name: access_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: the presigned url to download a file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.drs.AccessUrl'
  /file/v1/fileHandle/batch:
    post:
      tags:
        - File Services
      operationId: post-/file/v1/fileHandle/batch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.file.BatchFileRequest'
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.file.BatchFileResult'
  /file/v1/fileHandle/{handleIdToCopyFrom}/copy:
    post:
      tags:
        - File Services
      operationId: post-/file/v1/fileHandle/{handleIdToCopyFrom}/copy
      parameters:
        - name: handleIdToCopyFrom
          in: path
          required: true
          description: the file handle it from which to duplicate the data
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org.sagebionetworks.repo.model.file.S3FileHandle'
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.file.S3FileHandle'
  /file/v1/fileHandle/{handleId}:
    get:
      tags:
        - File Services
      operationId: get-/file/v1/fileHandle/{handleId}
      parameters:
        - name: handleId
          in: path
          required: true
          description: The ID of the FileHandle to fetch.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auto-generated description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/org.sagebionetworks.repo.model.file.FileHandle'
    delete:
      tags:
        - File Services
      operationId: delete-/file/v1/fileHandle/{handleId}
      parameters:
        - name: handleId
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Void
  /file/v1/fileHandle/{handleId}/filepreview:
    delete:
      tags:
        - File Services
      operationId: delete-/file/v1/fileHandle/{handleId}/filepreview
      parameters:
        - name: handleId
          in: path
          required: true
          description: The ID of the FileHandle whose preview should be cleared.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Void
  /file/v1/externalFileHandle:
    post:
      tags:
        - File Services
      operationId: post-/file/v1/externalFileHandle
      parameters: []
      requestBody:
[...]
