API_BASE_URL=http://bixarena-api-gateway:8113/api/v1
APP_PORT=8100
ENVIRONMENT=development
AUTH_BASE_URL_SSR=http://bixarena-api-gateway:8113
AUTH_BASE_URL_CSR=http://127.0.0.1:8113
OPENAI_API_KEY=changeme
# Request limits
INPUT_CHAR_LEN_LIMIT=1000
CONVERSATION_TURN_LIMIT=50
MAX_RESPONSE_TOKENS=1024
