API_BASE_URL=http://bixarena-api-gateway:8113/api/v1
APP_PORT=8100
AUTH_BASE_URL_CSR=http://127.0.0.1:8113
AUTH_BASE_URL_SSR=http://bixarena-api-gateway:8113
ENVIRONMENT=development
LOG_LEVEL=INFO
OPENROUTER_API_KEY=changeme
ENABLE_CRISP=false
# Request limits
BATTLE_ROUND_LIMIT=5
MAX_RESPONSE_TOKENS=1024
PROMPT_LEN_LIMIT=5000
# Footer configuration
APP_BRAND_URL=https://sagebionetworks.org
APP_CONTACT_URL=https://sagebionetworks.org/contact
APP_ISSUE_URL="https://forms.gle/WsvSdEfv5MfFpeedA"
APP_TOS_URL=
APP_VERSION=1.0.0
