API_BASE_URL=http://bixarena-api-gateway:8113/api/v1
APP_PORT=8100
AUTH_BASE_URL_CSR=http://127.0.0.1:8113
AUTH_BASE_URL_SSR=http://bixarena-api-gateway:8113
ENVIRONMENT=development
LOG_LEVEL=INFO
OPENAI_API_KEY=changeme
# Request limits
BATTLE_ROUND_LIMIT=20
PROMPT_LEN_LIMIT=5000
MAX_RESPONSE_TOKENS=1024
