# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json
!project.json
!model_config.template.json
!src/playground/deepspeed_config_s2.json
!src/playground/deepspeed_config_s3.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
checkpoints_flant5_3b
tmp/

# Data
*.pkl
*.csv
src/tests/state_of_the_union.txt
!src/data/dummy_elo_results.pkl
!src/data/dummy_leaderboard_table.csv

# Build
build
src/docs
src/assets