openapi: 3.0.3
info:
  version: 1.0.0
  title: BixArena API
  description: Advance bioinformatics by evaluating and ranking AI agents.
  license:
    name: Apache 2.0
    url: https://github.com/Sage-Bionetworks/sage-monorepo/blob/main/LICENSE.txt
  contact:
    name: Support
    url: https://github.com/Sage-Bionetworks/sage-monorepo
servers:
  - url: https://bixarena.ai/api/v1
  - url: https://bixarena.ai/api/v1
tags:
  - name: Chat
    x-displayName: Chat
  - name: Admin
    description: Administrative endpoints requiring elevated roles.
    x-displayName: Admin
  - name: Battle
    description: Operations about battles between AI models.
    x-displayName: Battle
  - name: Example Prompt
    description: Operations about example prompts for biomedical relevance detection.
    x-displayName: Example Prompt
  - name: Leaderboard
    description: Operations about leaderboards.
    x-displayName: Leaderboard
  - name: Model
    description: Operations about models.
    x-displayName: Model
  - name: Quest
    description: Operations about community quests.
    x-displayName: Quest
  - name: Stats
    description: Public statistics about the platform.
    x-displayName: Stats
  - name: User
    description: Operations about the authenticated user.
    x-displayName: User
  - name: Auth
    description: Authentication and token minting operations.
    x-displayName: Auth
paths:
  /chat/completions:
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Chat
      summary: Create a chat completion
      description: Sends messages to an LLM model via OpenRouter and returns a streaming HTTP response (text/event-stream)
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelChatRequest'
      responses:
        '200':
          description: Streaming HTTP response with chat completion chunks
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ModelChatCompletionChunk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /admin/quests/{questId}:
    parameters:
      - $ref: '#/components/parameters/questId'
    get:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Admin
      summary: Get a quest (admin, ungated)
      description: |
        Get the full quest with ALL posts and full content. No publish date
        filtering, no progress or tier gating. Requires admin role.
        Use this endpoint for content management; use GET /quests/{questId}
        to experience the quest as a user.
      operationId: adminGetQuest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /admin/stats:
    get:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Admin
      summary: Admin statistics
      description: Administrative operations requiring admin role.
      operationId: adminStats
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles:
    get:
      x-rate-limit-requests-per-minute: 300
      tags:
        - Battle
      summary: List battles
      description: List battles with optional filtering and pagination
      operationId: listBattles
      parameters:
        - $ref: '#/components/parameters/battleSearchQuery'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattlePage'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    post:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Create a battle
      description: Create a new battle between two AI models.
      operationId: createBattle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleCreateRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleCreateResponse'
          description: Battle created successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}:
    parameters:
      - $ref: '#/components/parameters/battleId'
    get:
      x-rate-limit-requests-per-minute: 300
      tags:
        - Battle
      summary: Get a battle by ID
      description: Returns a single battle by its unique identifier
      operationId: getBattle
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Battle'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    patch:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Update a battle
      description: Update a battle's end time or other properties
      operationId: updateBattle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Battle'
          description: Battle updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    delete:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Delete a battle
      description: Delete a battle by its unique identifier
      operationId: deleteBattle
      responses:
        '204':
          description: Battle deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/rounds:
    parameters:
      - $ref: '#/components/parameters/battleId'
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Battle
      summary: Create a battle round
      description: Create a new round for a given battle.
      operationId: createBattleRound
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleRoundCreateRequest'
      responses:
        '201':
          description: Battle round created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleRound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/rounds/{roundId}:
    parameters:
      - $ref: '#/components/parameters/battleId'
      - $ref: '#/components/parameters/roundId'
    patch:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Update a battle round
      description: Update an existing battle round.
      operationId: updateBattleRound
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleRoundUpdateRequest'
      responses:
        '200':
          description: Battle round updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleRound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/rounds/{roundId}/stream:
    parameters:
      - $ref: '#/components/parameters/battleId'
      - $ref: '#/components/parameters/roundId'
      - name: modelId
        description: The model to stream
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ModelId'
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Battle
      summary: Stream a chat completion for a battle round
      description: Sends the round's prompt and conversation history to the specified model via ai-service and returns the response as a streaming HTTP response (text/event-stream). The completed response is persisted as a message after the stream ends.
      operationId: createBattleRoundCompletion
      responses:
        '200':
          description: Streaming HTTP response with chat completion chunks
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ModelChatCompletionChunk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /example-prompts:
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Example Prompt
      summary: List example prompts
      description: Get a list of example prompts with comprehensive filtering options
      operationId: listExamplePrompts
      parameters:
        - $ref: '#/components/parameters/examplePromptSearchQuery'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplePromptPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Example Prompt
      summary: Create an example prompt
      description: Create a new example prompt (admin only). The new prompt is created as inactive regardless of the active field in the request body; a reviewer publishes it via PATCH. AI auto-categorization runs asynchronously unless categories are provided.
      operationId: createExamplePrompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamplePromptCreateRequest'
      responses:
        '201':
          description: Example prompt created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplePrompt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /example-prompts/{examplePromptId}:
    parameters:
      - $ref: '#/components/parameters/examplePromptId'
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Example Prompt
      summary: Get an example prompt
      description: Get an example prompt by ID.
      operationId: getExamplePrompt
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplePrompt'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    patch:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Example Prompt
      summary: Update an example prompt
      description: Partially update an example prompt (admin only). Only fields present in the request body are modified. If the question text changes, AI auto-categorization runs asynchronously.
      operationId: updateExamplePrompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamplePromptUpdateRequest'
      responses:
        '200':
          description: Example prompt updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplePrompt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    delete:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Example Prompt
      summary: Delete an example prompt
      description: Delete an example prompt (admin only).
      operationId: deleteExamplePrompt
      responses:
        '204':
          description: Example prompt deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /example-prompts/{examplePromptId}/categorizations:
    parameters:
      - $ref: '#/components/parameters/examplePromptId'
    get:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Example Prompt
      summary: List example prompt categorizations
      description: Get all categorizations for an example prompt (admin only).
      operationId: listExamplePromptCategorizations
      responses:
        '200':
          description: List of example prompt categorizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExamplePromptCategorizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Example Prompt
      summary: Create an example prompt categorization
      description: Manually categorize an example prompt (admin only). The created categorization is automatically set as the effective categorization.
      operationId: createExamplePromptCategorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamplePromptCategorizationCreateRequest'
      responses:
        '201':
          description: Example prompt categorization created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplePromptCategorizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /example-prompts/{examplePromptId}/categorizations/effective:
    parameters:
      - $ref: '#/components/parameters/examplePromptId'
    patch:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Example Prompt
      summary: Set effective example prompt categorization
      description: Set or clear the effective categorization for an example prompt by pointing at a row from history. Pass null to clear. Admin only.
      operationId: setEffectiveExamplePromptCategorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetEffectiveCategorizationRequest'
      responses:
        '200':
          description: Effective categorization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplePrompt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /example-prompts/{examplePromptId}/categorizations/run:
    parameters:
      - $ref: '#/components/parameters/examplePromptId'
    post:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Example Prompt
      summary: Run an automated categorization
      description: Run an automated AI categorization against an example prompt. Returns 201 with the persisted row when the AI matched at least one category, or 204 when the AI could not match any category from the taxonomy (no row is persisted in that case). Admin only.
      operationId: runExamplePromptCategorization
      responses:
        '201':
          description: Categorization completed and persisted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplePromptCategorizationResponse'
        '204':
          description: Categorization run completed but the AI did not match any category
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /leaderboards:
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Leaderboard
      summary: List all available leaderboards
      description: Get a list of all available leaderboards with their metadata
      operationId: listLeaderboards
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /leaderboards/{leaderboardId}:
    parameters:
      - $ref: '#/components/parameters/leaderboardId'
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Leaderboard
      summary: Get leaderboard entries
      description: Get paginated leaderboard entries for a specific leaderboard
      operationId: getLeaderboard
      parameters:
        - $ref: '#/components/parameters/leaderboardSearchQuery'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardEntryPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /leaderboards/{leaderboardId}/history/{modelId}:
    parameters:
      - $ref: '#/components/parameters/leaderboardId'
      - $ref: '#/components/parameters/modelId'
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Leaderboard
      summary: Get model performance history
      description: Get historical performance data for a specific model in a leaderboard
      operationId: getModelHistory
      parameters:
        - $ref: '#/components/parameters/leaderboardModelHistoryQuery'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardModelHistoryPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /leaderboards/{leaderboardId}/snapshots:
    parameters:
      - $ref: '#/components/parameters/leaderboardId'
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Leaderboard
      summary: Get public leaderboard snapshots
      description: Get a paginated list of public snapshots for a leaderboard.
      operationId: getLeaderboardSnapshots
      parameters:
        - $ref: '#/components/parameters/leaderboardSnapshotQuery'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardSnapshotPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /models:
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Model
      summary: List models
      description: Get a paginated list of models with optional filters (e.g., active)
      operationId: listModels
      parameters:
        - $ref: '#/components/parameters/modelSearchQuery'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /models/{modelId}/errors:
    parameters:
      - $ref: '#/components/parameters/modelId'
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Model
      summary: Report a model error
      description: Report an error that occurred during model interaction.
      operationId: createModelError
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelErrorCreateRequest'
            examples:
              rateLimitError:
                summary: Rate limit error
                value:
                  code: 429
                  message: Rate limit exceeded
                  battleId: 123e4567-e89b-12d3-a456-426614174000
                  roundId: 123e4567-e89b-12d3-a456-426614174001
      responses:
        '201':
          description: Model error reported successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelError'
              examples:
                rateLimitError:
                  summary: Rate limit error recorded
                  value:
                    id: 98765432-e89b-12d3-a456-426614174099
                    modelId: 123e4567-e89b-12d3-a456-426614174002
                    code: 429
                    message: Rate limit exceeded
                    battleId: 123e4567-e89b-12d3-a456-426614174000
                    roundId: 123e4567-e89b-12d3-a456-426614174001
                    createdAt: '2025-10-29T21:03:53Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/evaluations:
    parameters:
      - $ref: '#/components/parameters/battleId'
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Battle
      summary: Create a battle evaluation
      description: Record the outcome of a battle.
      operationId: createBattleEvaluation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleEvaluationCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleEvaluation'
          description: BattleEvaluation created successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/categorizations:
    parameters:
      - $ref: '#/components/parameters/battleId'
    get:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Battle
      summary: List battle categorizations
      description: Get all categorizations for a battle (admin only).
      operationId: listBattleCategorizations
      responses:
        '200':
          description: List of battle categorizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BattleCategorizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Battle
      summary: Create a battle categorization
      description: Manually categorize a battle (admin only). The created categorization is automatically set as the effective categorization.
      operationId: createBattleCategorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleCategorizationCreateRequest'
      responses:
        '201':
          description: Battle categorization created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleCategorizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/categorizations/effective:
    parameters:
      - $ref: '#/components/parameters/battleId'
    patch:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Set effective battle categorization
      description: Set or clear the effective categorization for a battle by pointing at a row from history. Pass null to clear. Returns 409 if the battle is not biomedical and a non-null categorizationId is provided. Admin only.
      operationId: setEffectiveBattleCategorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetEffectiveCategorizationRequest'
      responses:
        '200':
          description: Effective categorization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Battle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/categorizations/run:
    parameters:
      - $ref: '#/components/parameters/battleId'
    post:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Run an automated categorization
      description: Run an automated AI categorization against a battle. Returns 201 with the persisted row when the AI matched at least one category, or 204 when the AI could not match any category from the taxonomy (no row is persisted in that case). Returns 409 if the battle is not biomedical. Admin only.
      operationId: runBattleCategorization
      responses:
        '201':
          description: Categorization completed and persisted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleCategorizationResponse'
        '204':
          description: Categorization run completed but the AI did not match any category
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/validations:
    parameters:
      - $ref: '#/components/parameters/battleId'
    post:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Battle
      summary: Create a battle validation
      description: Manually validate or invalidate a battle (admin only). The created validation is automatically set as the effective validation for the battle.
      operationId: createBattleValidation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleValidationCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleValidationResponse'
          description: Battle validation created successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    get:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Battle
      summary: List battle validations
      description: Get all validations for a battle (admin only).
      operationId: listBattleValidations
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BattleValidationResponse'
          description: List of battle validations
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/validations/effective:
    parameters:
      - $ref: '#/components/parameters/battleId'
    patch:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Set effective validation
      description: Set or clear the effective validation for a battle. The effective validation determines whether a battle counts in stats (only battles with a positive effective validation are included). Admin only.
      operationId: setEffectiveValidation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetEffectiveValidationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Battle'
          description: Effective validation updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /battles/{battleId}/validations/run:
    parameters:
      - $ref: '#/components/parameters/battleId'
    post:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Battle
      summary: Run an automated validation method
      description: Run an automated validation method against a battle and return the result. Useful for backfilling validations on battles created before automated validation was implemented. Admin only.
      operationId: runBattleValidation
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleValidationResponse'
          description: Validation completed and persisted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /quests:
    post:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Quest
        - Admin
      summary: Create a quest
      description: Create a new community quest. Requires admin role.
      operationId: createQuest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestCreateOrUpdate'
        required: true
      responses:
        '201':
          description: Quest created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /quests/{questId}:
    parameters:
      - $ref: '#/components/parameters/questId'
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Quest
      summary: Get a quest
      description: |
        Get the full quest configuration including metadata and published posts.
        Post content (description, images) is filtered based on unlock gates:
        - Posts before their publish date are excluded entirely.
        - Posts whose progress or tier gate is not met return metadata only
          (title, date, requiredTier, requiredProgress) with null description
          and empty images.
        When authenticated, the caller's contributor tier is resolved from their
        battle count during the quest period.
      operationId: getQuest
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Quest
        - Admin
      summary: Update a quest
      description: Update quest metadata. Requires admin role.
      operationId: updateQuest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestCreateOrUpdate'
        required: true
      responses:
        '200':
          description: Quest updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    delete:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Quest
        - Admin
      summary: Delete a quest
      description: Delete a quest and all its posts. Requires admin role.
      operationId: deleteQuest
      responses:
        '204':
          description: Quest deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /quests/{questId}/contributors:
    parameters:
      - $ref: '#/components/parameters/questId'
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Quest
      summary: Get quest contributors
      description: |
        Get a list of users who have contributed to a specific quest,
        ordered by their battle count during the quest period.
        Results are calculated in real-time based on completed battles
        within the quest's start and end dates.
      operationId: listQuestContributors
      security: []
      parameters:
        - name: minBattles
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Minimum number of battles required to be listed
          example: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
          description: Maximum number of contributors to return
          example: 100
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestContributors'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /quests/{questId}/posts:
    parameters:
      - $ref: '#/components/parameters/questId'
    post:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Quest
        - Admin
      summary: Create a quest post
      description: |
        Add a new post to a quest. The post is appended at the next available
        post index. Requires admin role.
      operationId: createQuestPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestPostCreateOrUpdate'
        required: true
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestPost'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /quests/{questId}/posts/{postIndex}:
    parameters:
      - $ref: '#/components/parameters/questId'
      - $ref: '#/components/parameters/postIndex'
    put:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Quest
        - Admin
      summary: Update a quest post
      description: Update an existing quest post. Requires admin role.
      operationId: updateQuestPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestPostCreateOrUpdate'
        required: true
      responses:
        '200':
          description: Post updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestPost'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
    delete:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Quest
        - Admin
      summary: Delete a quest post
      description: Delete a quest post. Remaining posts are not automatically reindexed. Requires admin role.
      operationId: deleteQuestPost
      responses:
        '204':
          description: Post deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /quests/{questId}/posts/reorder:
    parameters:
      - $ref: '#/components/parameters/questId'
    put:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Quest
        - Admin
      summary: Reorder quest posts
      description: |
        Reorder all posts in a quest. The request body must contain the complete
        list of existing post indexes in the desired new order. The backend
        validates that the array contains exactly all existing post indexes
        (no duplicates, no missing), then reassigns post_index values 0, 1, 2, ...
        based on array order. Requires admin role.
      operationId: reorderQuestPosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestPostReorder'
        required: true
      responses:
        '200':
          description: Posts reordered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /stats:
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Stats
      summary: Get public platform statistics
      description: |
        Retrieve publicly accessible statistics about the BixArena platform.
        This endpoint can be accessed without authentication and is designed
        for use on the home page to showcase platform activity.
      operationId: getPublicStats
      security: []
      responses:
        '200':
          description: Public statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStats'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/me/stats:
    get:
      x-rate-limit-requests-per-minute: 300
      tags:
        - User
      summary: Get current user's statistics
      description: Returns statistics about the authenticated user's battle participation.
      operationId: getUserStats
      responses:
        '200':
          description: User statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /auth/login:
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 20
      tags:
        - Auth
      summary: Start Synapse OIDC authorization code flow
      description: Initiates the OIDC login by redirecting the user to Synapse with state and nonce.
      operationId: login
      security: []
      responses:
        '204':
          description: Flow started (no content; clients should follow redirect)
        '302':
          description: Redirect to Synapse login
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/callback:
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 20
      tags:
        - Auth
      summary: OIDC redirect callback
      description: Handles redirect from Synapse, validates state and nonce, establishes authenticated session.
      operationId: callback
      security: []
      parameters:
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/logout:
    post:
      x-anonymous-access: false
      x-rate-limit-requests-per-minute: 60
      tags:
        - Auth
      summary: Logout current session
      description: Invalidate the current authenticated session. Requires an active session.
      operationId: logout
      responses:
        '204':
          description: Logged out successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /oauth2/token:
    post:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 60
      tags:
        - Auth
      summary: Mint short-lived internal JWT
      description: |
        Exchanges an authenticated session (cookie) for an internal JWT (OAuth2-style endpoint).
        The optional audience parameter specifies the target service for the JWT.
      operationId: token
      security: []
      parameters:
        - name: audience
          in: query
          required: false
          description: |
            Target audience for the JWT. If not specified, defaults to urn:bixarena:auth.
          schema:
            type: string
      responses:
        '200':
          description: Access token response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    enum:
                      - Bearer
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds
                required:
                  - access_token
                  - token_type
                  - expires_in
        '401':
          $ref: '#/components/responses/Unauthorized'
  /oauth2/service-token:
    post:
      x-rate-limit-requests-per-minute: 30
      tags:
        - Auth
      summary: Mint a service-to-service JWT (client credentials)
      description: |
        Issues a JWT for service-to-service authentication using the OAuth2 Client Credentials grant. The caller authenticates with HTTP Basic (service client ID and secret). Returns a short-lived JWT with the requested audience.
      operationId: serviceToken
      security: []
      parameters:
        - name: audience
          in: query
          required: true
          description: Target audience for the JWT (e.g. 'urn:bixarena:ai')
          schema:
            type: string
      responses:
        '200':
          description: Access token response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    enum:
                      - Bearer
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds
                required:
                  - access_token
                  - token_type
                  - expires_in
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /userinfo:
    get:
      x-rate-limit-requests-per-minute: 60
      tags:
        - Auth
      summary: Get current user profile
      description: |
        Returns the authenticated user's profile information.
        This is an OIDC-compliant UserInfo endpoint that provides details about the currently authenticated user.

        Requires a valid JWT obtained via the `/token` endpoint or an active session.
      operationId: getUserInfo
      responses:
        '200':
          description: User profile information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - jwtBearer: []
  /.well-known/jwks.json:
    get:
      x-anonymous-access: true
      x-rate-limit-requests-per-minute: 100
      tags:
        - Auth
      summary: JSON Web Key Set
      description: Returns the public keys used to verify internally issued JWTs.
      operationId: getJwks
      security: []
      responses:
        '200':
          description: JWKS document
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ModelId:
      description: UUID of an AI model.
      type: string
      format: uuid
      example: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
    MessageRole:
      type: string
      description: The role of a message.
      maxLength: 20
      enum:
        - system
        - user
        - assistant
      example: user
    MessageContent:
      type: string
      description: The content of a message.
      maxLength: 10000
      example: What is the capital of France?
    MessageCreate:
      type: object
      description: Payload used to create a message.
      properties:
        role:
          $ref: '#/components/schemas/MessageRole'
        content:
          $ref: '#/components/schemas/MessageContent'
      required:
        - role
        - content
    ModelChatRequest:
      type: object
      description: Request payload for creating a chat completion
      properties:
        modelId:
          $ref: '#/components/schemas/ModelId'
        apiModelName:
          type: string
          description: The model name used for API calls.
          example: anthropic/claude-sonnet-4.5
        apiBase:
          type: string
          description: Base URL for the model API.
          example: https://openrouter.ai/api/v1
        messages:
          type: array
          items:
            $ref: '#/components/schemas/MessageCreate'
          description: The conversation messages to send to the model
      required:
        - modelId
        - apiModelName
        - apiBase
        - messages
    ModelErrorMessage:
      type: string
      description: Error message describing what went wrong.
      minLength: 1
      maxLength: 1000
      example: Rate limit exceeded
    ModelChatUsage:
      type: object
      description: Token usage and generation parameters for the chat completion
      properties:
        model:
          type: string
          description: The model identifier that was used
        temperature:
          type: number
          format: float
          description: The sampling temperature that was used
        topP:
          type: number
          format: float
          description: The nucleus sampling parameter that was used
        maxTokens:
          type: integer
          description: The maximum token limit that was set
        promptTokens:
          type: integer
          description: Number of tokens in the prompt
        completionTokens:
          type: integer
          description: Number of tokens in the completion
        totalTokens:
          type: integer
          description: Total number of tokens used
      required:
        - promptTokens
        - completionTokens
        - totalTokens
    ModelChatCompletionChunk:
      type: object
      description: A streaming event chunk from the model chat completion
      properties:
        content:
          $ref: '#/components/schemas/MessageContent'
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
          description: Current state of the streaming response
        finishReason:
          type: string
          nullable: true
          enum:
            - stop
            - length
            - content_filter
            - error
          description: Reason the model stopped generating
        errorMessage:
          $ref: '#/components/schemas/ModelErrorMessage'
        usage:
          $ref: '#/components/schemas/ModelChatUsage'
      required:
        - status
    BasicError:
      type: object
      description: Problem details (tools.ietf.org/html/rfc7807)
      properties:
        title:
          type: string
          description: A human readable documentation for the problem type
        status:
          type: integer
          description: The HTTP status code
        detail:
          type: string
          description: A human readable explanation specific to this occurrence of the problem
        type:
          type: string
          description: An absolute URI that identifies the problem type
        instance:
          type: string
          description: An absolute URI that identifies the specific occurrence of the problem
      required:
        - title
        - status
    RateLimitError:
      allOf:
        - $ref: '#/components/schemas/BasicError'
        - type: object
          properties:
            limit:
              type: integer
              description: Maximum requests allowed per window
              example: 100
            window:
              type: string
              description: Time window for rate limiting
              example: 1 minute
            retryAfterSeconds:
              type: integer
              description: Seconds to wait before retrying
              example: 18
          required:
            - limit
            - window
            - retryAfterSeconds
    QuestPost:
      type: object
      description: A single quest post. Content fields (description, images) are null/empty when the caller does not meet unlock gates.
      properties:
        postIndex:
          type: integer
          description: Display ordering index (0-based)
          minimum: 0
          maximum: 99
          example: 0
        date:
          type: string
          format: date
          nullable: true
          description: Optional display date for the post
          example: '2026-02-03'
        title:
          type: string
          description: Post heading (always visible for published posts)
          maxLength: 300
          example: 'Chapter 1: Laying the First Stones'
        description:
          type: string
          nullable: true
          description: Post content text. Null when the caller does not meet unlock gates.
          maxLength: 100000
          example: The arena walls began to rise...
        images:
          type: array
          description: Image URLs for the post. Empty when the caller does not meet unlock gates.
          maxItems: 50
          items:
            type: string
            format: uri
        publishDate:
          type: string
          format: date-time
          nullable: true
          description: Post is hidden entirely before this timestamp. Null means immediately visible.
          example: '2026-03-16T09:00:00Z'
        requiredProgress:
          type: integer
          nullable: true
          description: Minimum quest-wide battle count required to unlock content. Null means no progress gate.
          minimum: 0
          example: 500
        requiredTier:
          type: string
          enum:
            - knight
            - champion
          nullable: true
          description: Minimum contributor tier required to unlock content. Null means public access.
          example: knight
        locked:
          type: boolean
          description: Whether the post content is locked for the current caller. True when the caller does not meet the required progress or tier gates. Always false for posts with no gates.
          example: false
      required:
        - postIndex
        - title
        - images
        - locked
    Quest:
      type: object
      description: A community quest with its metadata and posts
      properties:
        questId:
          type: string
          description: Unique identifier for the quest
          example: build-bioarena-together
        title:
          type: string
          description: Quest display title
          maxLength: 200
          example: Build BioArena Together
        description:
          type: string
          description: Quest narrative description
          maxLength: 5000
          example: Join forces to build an arena together...
        goal:
          type: integer
          description: Target total battle count for the quest
          minimum: 0
          example: 2850
        startDate:
          type: string
          format: date-time
          description: Quest start date
          example: '2026-02-01T00:00:00Z'
        endDate:
          type: string
          format: date-time
          description: Quest end date
          example: '2026-04-30T23:59:59Z'
        activePostIndex:
          type: integer
          description: Index of the post to expand by default in the UI
          minimum: 0
          maximum: 99
          example: 4
        totalBlocks:
          type: integer
          description: Current total number of completed battles during the quest period
          minimum: 0
          example: 150
        posts:
          type: array
          description: Quest posts ordered by post index
          items:
            $ref: '#/components/schemas/QuestPost'
      required:
        - questId
        - title
        - description
        - goal
        - startDate
        - endDate
        - activePostIndex
        - totalBlocks
        - posts
    BattleSort:
      description: What to sort battles by.
      type: string
      enum:
        - created_at
      default: created_at
      example: created_at
    SortDirection:
      type: string
      description: The direction to sort results.
      enum:
        - asc
        - desc
      default: asc
      example: desc
    BattleSearchQuery:
      type: object
      description: A battle search query.
      properties:
        pageNumber:
          description: The page number to return (0-indexed).
          type: integer
          format: int32
          default: 0
          minimum: 0
          example: 0
        pageSize:
          description: The number of items to return in a single page.
          type: integer
          format: int32
          default: 100
          minimum: 1
          example: 10
        sort:
          $ref: '#/components/schemas/BattleSort'
        direction:
          $ref: '#/components/schemas/SortDirection'
        userId:
          description: Filter by user ID.
          type: string
          format: uuid
          nullable: true
          example: a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d
      required:
        - pageNumber
        - pageSize
        - sort
        - direction
    BattleId:
      type: string
      format: uuid
      description: Unique identifier (UUID) of the battle.
      example: 5f6c2d84-5c1a-4b2e-b3d7-0c2a1f9e8a6f
    BattleTitle:
      description: Title of the battle.
      type: string
      example: Gene Expression Analysis Comparison
    UserId:
      description: UUID of a user.
      type: string
      format: uuid
      example: a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d
    CreatedAt:
      description: Timestamp when the entity was created.
      type: string
      format: date-time
      example: '2024-01-15T10:30:00Z'
    EndedAt:
      description: Timestamp when the entity ended.
      type: string
      format: date-time
      example: '2024-01-15T11:45:00Z'
    Battle:
      type: object
      description: A battle entity representing a comparison between two AI models.
      properties:
        id:
          $ref: '#/components/schemas/BattleId'
        title:
          $ref: '#/components/schemas/BattleTitle'
          nullable: true
        userId:
          $ref: '#/components/schemas/UserId'
        model1Id:
          $ref: '#/components/schemas/ModelId'
        model2Id:
          $ref: '#/components/schemas/ModelId'
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
        endedAt:
          $ref: '#/components/schemas/EndedAt'
          nullable: true
        effectiveValidationId:
          type: string
          format: uuid
          nullable: true
          description: ID of the effective battle validation (null = not yet validated)
        effectiveCategorizationId:
          type: string
          format: uuid
          nullable: true
          description: ID of the effective battle categorization (null = not yet categorized)
      required:
        - id
        - userId
        - model1Id
        - model2Id
        - createdAt
    PageMetadata:
      type: object
      description: The metadata of a page.
      properties:
        number:
          description: The page number.
          type: integer
          format: int32
          example: 99
        size:
          description: The number of items in a single page.
          type: integer
          format: int32
          example: 99
        totalElements:
          description: Total number of elements in the result set.
          type: integer
          format: int64
          example: 99
        totalPages:
          description: Total number of pages in the result set.
          type: integer
          format: int32
          example: 99
        hasNext:
          description: Returns if there is a next page.
          type: boolean
          example: true
        hasPrevious:
          description: Returns if there is a previous page.
          type: boolean
          example: true
      required:
        - number
        - size
        - totalElements
        - totalPages
        - hasNext
        - hasPrevious
    BattlePage:
      type: object
      description: A page of battles.
      properties:
        battles:
          description: List of battles in this page.
          type: array
          items:
            $ref: '#/components/schemas/Battle'
        page:
          $ref: '#/components/schemas/PageMetadata'
      required:
        - battles
        - page
    BattleCreateRequest:
      type: object
      description: The information used to create a new battle.
      properties:
        title:
          $ref: '#/components/schemas/BattleTitle'
          nullable: true
    License:
      type: string
      description: The license of the model
      enum:
        - open-source
        - commercial
      example: open-source
    Model:
      type: object
      description: A model entity.
      properties:
        id:
          type: string
          description: Unique identifier (UUID) of the model.
          example: 5f6c2d84-5c1a-4b2e-b3d7-0c2a1f9e8a6f
        slug:
          type: string
          description: URL-friendly unique slug for the model.
          example: my-awesome-model
        alias:
          type: string
          nullable: true
          description: Alternative name or alias for the model.
          example: awesome-model-v2
        name:
          type: string
          description: Human-readable name of the model.
          example: My Awesome Model
        organization:
          type: string
          nullable: true
          description: Organization that developed or maintains the model.
          example: OpenAI
        license:
          $ref: '#/components/schemas/License'
        active:
          type: boolean
          description: Whether the model is active/visible.
          example: true
        externalLink:
          type: string
          description: External URL with more information about the model.
          example: https://openrouter.ai/models/openai/gpt-4
        description:
          type: string
          nullable: true
          minLength: 1
          maxLength: 300
          description: Detailed description of the model.
          example: A large multimodal model that can process text and images.
        apiModelName:
          type: string
          description: The model name used for API calls.
          example: anthropic/claude-sonnet-4.5
        apiBase:
          type: string
          description: Base URL for the model API.
          example: https://openrouter.ai/api/v1
        createdAt:
          type: string
          format: date-time
          description: When the model was created.
          example: '2025-09-15T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          description: When the model was last updated.
          example: '2025-09-20T08:30:00Z'
      required:
        - id
        - slug
        - name
        - license
        - active
        - externalLink
        - apiModelName
        - apiBase
        - createdAt
        - updatedAt
    BattleCreateResponse:
      type: object
      description: A battle between two AI models.
      properties:
        id:
          $ref: '#/components/schemas/BattleId'
        title:
          $ref: '#/components/schemas/BattleTitle'
          nullable: true
        userId:
          $ref: '#/components/schemas/UserId'
        model1:
          $ref: '#/components/schemas/Model'
        model2:
          $ref: '#/components/schemas/Model'
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
        endedAt:
          $ref: '#/components/schemas/EndedAt'
          nullable: true
        effectiveValidationId:
          type: string
          format: uuid
          nullable: true
          description: ID of the effective battle validation (null = not yet validated)
      required:
        - id
        - userId
        - model1
        - model2
        - createdAt
    BattleUpdateRequest:
      type: object
      description: The information used to update a battle.
      properties:
        title:
          $ref: '#/components/schemas/BattleTitle'
          nullable: true
        endedAt:
          $ref: '#/components/schemas/EndedAt'
          nullable: true
    BattleRoundCreateRequest:
      type: object
      description: Payload to create a new battle round with the user prompt.
      properties:
        promptMessage:
          $ref: '#/components/schemas/MessageCreate'
      required:
        - promptMessage
    BattleRoundId:
      type: string
      format: uuid
      description: Unique identifier (UUID) of the battle round.
      example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
    BattleRoundNumber:
      type: integer
      description: Sequential round number within a battle. Starts at 1.
      example: 1
      minimum: 1
    MessageId:
      type: string
      format: uuid
      description: Unique identifier (UUID) of the message.
      example: d290f1ee-6c54-4b01-90e6-d701748f0851
    UpdatedAt:
      description: Timestamp when the entity was last updated.
      type: string
      format: date-time
      example: '2024-01-15T10:45:00Z'
    BattleRound:
      type: object
      description: A battle round linking the prompt and model responses for a battle.
      properties:
        id:
          $ref: '#/components/schemas/BattleRoundId'
        battleId:
          $ref: '#/components/schemas/BattleId'
        roundNumber:
          $ref: '#/components/schemas/BattleRoundNumber'
        promptMessageId:
          $ref: '#/components/schemas/MessageId'
          nullable: true
        model1MessageId:
          $ref: '#/components/schemas/MessageId'
          nullable: true
        model2MessageId:
          $ref: '#/components/schemas/MessageId'
          nullable: true
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
        updatedAt:
          $ref: '#/components/schemas/UpdatedAt'
      required:
        - id
        - battleId
        - roundNumber
        - createdAt
        - updatedAt
    BattleRoundUpdateRequest:
      type: object
      description: Payload to update model responses for an existing battle round.
      properties:
        model1Message:
          $ref: '#/components/schemas/MessageCreate'
        model2Message:
          $ref: '#/components/schemas/MessageCreate'
      required:
        - model1Message
        - model2Message
    ExamplePromptSort:
      type: string
      description: The field to sort example prompts by.
      enum:
        - created_at
        - random
      default: created_at
      example: random
    ExamplePromptSource:
      description: The source dataset or origin of the example prompt.
      type: string
      enum:
        - pubmedqa
        - bixbench
        - bixarena
      example: pubmedqa
    BiomedicalCategory:
      description: A category slug used to classify biomedical content.
      type: string
      enum:
        - biochemistry
        - bioengineering
        - bioinformatics
        - cancer-biology
        - cell-biology
        - clinical-trials
        - developmental-biology
        - epidemiology
        - evolutionary-biology
        - genetics
        - genomics
        - immunology
        - microbiology
        - molecular-biology
        - neuroscience
        - pathology
        - pharmacology-and-toxicology
        - physiology
        - synthetic-biology
        - systems-biology
      example: genetics
    ExamplePromptSearchQuery:
      type: object
      description: An example prompt search query with pagination and filtering options.
      properties:
        pageNumber:
          description: The page number.
          type: integer
          format: int32
          default: 0
          minimum: 0
          example: 0
        pageSize:
          description: The number of items in a single page.
          type: integer
          format: int32
          default: 25
          minimum: 1
          maximum: 100
          example: 25
        sort:
          $ref: '#/components/schemas/ExamplePromptSort'
        direction:
          $ref: '#/components/schemas/SortDirection'
        source:
          $ref: '#/components/schemas/ExamplePromptSource'
          nullable: true
        active:
          description: Filter by active status (true returns only active prompts; false only inactive; omit for all).
          type: boolean
          nullable: true
          example: true
        search:
          description: Search by question content (case-insensitive partial match).
          type: string
          nullable: true
          example: diabetes
        categories:
          description: Filter by one or more categories. Returns prompts matching any of the given categories.
          type: array
          items:
            $ref: '#/components/schemas/BiomedicalCategory'
          nullable: true
      required: []
    ExamplePrompt:
      type: object
      description: A self-contained example prompt for biomedical question answering.
      properties:
        id:
          type: string
          description: The unique identifier of the example prompt.
          example: 123e4567-e89b-12d3-a456-426614174000
        question:
          type: string
          description: The biomedical question text.
          minLength: 1
          maxLength: 160
          example: What are the main symptoms of Type 2 diabetes?
        source:
          $ref: '#/components/schemas/ExamplePromptSource'
        active:
          type: boolean
          description: Whether this example prompt is currently active/visible for use.
          example: true
        effectiveCategorizationId:
          type: string
          format: uuid
          nullable: true
          description: ID of the effective categorization for this prompt (null = not yet categorized)
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BiomedicalCategory'
          maxItems: 3
          default: []
          description: Categories from the effective categorization. Empty array if not yet categorized.
        createdAt:
          type: string
          format: date-time
          description: When the example prompt was created.
          example: '2025-08-01T09:00:00Z'
      required:
        - id
        - question
        - source
        - active
        - categories
        - createdAt
    ExamplePromptPage:
      type: object
      description: A page of example prompts.
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            examplePrompts:
              type: array
              description: A list of example prompts.
              items:
                $ref: '#/components/schemas/ExamplePrompt'
          required:
            - examplePrompts
    ExamplePromptCreateRequest:
      type: object
      description: The information used to create or update an example prompt.
      properties:
        question:
          type: string
          description: The biomedical question text.
          minLength: 1
          maxLength: 160
          example: What are the main symptoms of Type 2 diabetes?
        source:
          $ref: '#/components/schemas/ExamplePromptSource'
        active:
          type: boolean
          description: Whether this example prompt is currently active/visible for use.
          example: true
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BiomedicalCategory'
          minItems: 1
          maxItems: 3
          nullable: true
          description: Human override categories. If provided, a manual categorization is created and reason is required. If absent, AI auto-categorization runs asynchronously.
        reason:
          type: string
          maxLength: 1000
          nullable: true
          description: Reason for the manual categorization decision, if categories is provided.
      required:
        - question
        - source
        - active
    ExamplePromptUpdateRequest:
      type: object
      description: The information used to update an example prompt. Only fields present in the request are modified.
      properties:
        question:
          type: string
          description: The biomedical question text.
          minLength: 1
          maxLength: 160
          nullable: true
          example: What are the main symptoms of Type 2 diabetes?
        source:
          $ref: '#/components/schemas/ExamplePromptSource'
          nullable: true
        active:
          type: boolean
          description: Whether this example prompt is currently active/visible for use.
          nullable: true
          example: true
    ExamplePromptCategorizationResponse:
      type: object
      description: The result of a categorization run for an example prompt.
      properties:
        id:
          type: string
          format: uuid
        promptId:
          type: string
          format: uuid
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BiomedicalCategory'
          minItems: 1
          maxItems: 3
        method:
          type: string
          maxLength: 100
        categorizedBy:
          type: string
          format: uuid
          nullable: true
          description: User ID of the categorizer. Null for AI runs.
        reason:
          type: string
          maxLength: 1000
          nullable: true
          description: Human override reason. Always null for AI runs.
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - promptId
        - categories
        - method
        - createdAt
    ExamplePromptCategorizationCreateRequest:
      type: object
      description: Request to manually categorize an example prompt.
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BiomedicalCategory'
          minItems: 1
          maxItems: 3
        reason:
          type: string
          maxLength: 1000
          nullable: true
          description: Reason for the categorization decision
      required:
        - categories
    SetEffectiveCategorizationRequest:
      type: object
      description: Request to set or clear the effective categorization for an example prompt or battle.
      properties:
        categorizationId:
          type: string
          format: uuid
          nullable: true
          description: ID of the categorization row to set as effective. Set to null to clear the effective categorization.
    LeaderboardList:
      type: array
      description: A list of leaderboards.
      items:
        type: object
        properties:
          id:
            type: string
            description: Unique identifier for the leaderboard
            example: open-source
          name:
            type: string
            description: Display name for the leaderboard
            example: Open Source Models
          description:
            type: string
            description: Description of what this leaderboard measures
            example: Performance ranking of open-source AI models
          updatedAt:
            type: string
            format: date-time
            description: When this leaderboard was last updated
            example: '2025-08-16T14:30:00Z'
        required:
          - id
          - name
          - description
          - updatedAt
    LeaderboardSort:
      type: string
      description: The field to sort leaderboard entries by.
      enum:
        - rank
        - created_at
      default: rank
      example: rank
    LeaderboardSearchQuery:
      type: object
      description: A leaderboard search query with pagination and filtering options.
      properties:
        pageNumber:
          description: The page number.
          type: integer
          format: int32
          default: 0
          minimum: 0
          example: 0
        pageSize:
          description: The number of items in a single page.
          type: integer
          format: int32
          default: 100
          minimum: 1
          maximum: 1000
          example: 25
        sort:
          $ref: '#/components/schemas/LeaderboardSort'
        direction:
          $ref: '#/components/schemas/SortDirection'
        search:
          description: Search by model name (case-insensitive partial match).
          type: string
          nullable: true
          example: gpt
        snapshotId:
          description: Get a specific historical snapshot instead of latest.
          type: string
          nullable: true
          example: snapshot_2025-08-15_10-00
    LeaderboardEntry:
      type: object
      description: A single entry in a leaderboard representing a model's performance.
      properties:
        id:
          type: string
          description: Unique identifier for this leaderboard entry
          example: entry_123
        modelId:
          type: string
          description: Identifier for the model
          example: model_456
        modelName:
          type: string
          description: Display name of the model
          example: GPT-4o
        modelOrganization:
          type: string
          maxLength: 200
          description: Organization that created the model
          example: OpenAI
          nullable: true
        modelUrl:
          type: string
          maxLength: 300
          description: External link to model information
          example: https://openai.com/gpt-4
        license:
          type: string
          description: License type of the model
          example: MIT
        btScore:
          type: number
          format: double
          description: Bradley-Terry score - primary ranking metric
          example: 0.925
        voteCount:
          type: integer
          description: Number of votes/evaluations
          example: 1250
        rank:
          type: integer
          description: Current rank position (1-based)
          example: 1
        bootstrapQ025:
          type: number
          format: double
          description: Bootstrap confidence interval lower bound (2.5th percentile)
          example: 887
        bootstrapQ975:
          type: number
          format: double
          description: Bootstrap confidence interval upper bound (97.5th percentile)
          example: 1063
        createdAt:
          type: string
          format: date-time
          description: When this entry was created
          example: '2025-08-16T10:30:00Z'
      required:
        - id
        - modelId
        - modelName
        - modelUrl
        - license
        - btScore
        - voteCount
        - rank
        - bootstrapQ025
        - bootstrapQ975
        - createdAt
    LeaderboardEntryPage:
      type: object
      description: A page of leaderboard entries.
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            updatedAt:
              type: string
              format: date-time
              description: When this leaderboard was last updated
              example: '2025-08-16T14:30:00Z'
            snapshotId:
              type: string
              description: Identifier for this snapshot/timepoint
              example: snapshot_2025-08-16_14-30
            entries:
              description: A list of leaderboard entries.
              type: array
              items:
                $ref: '#/components/schemas/LeaderboardEntry'
          required:
            - updatedAt
            - snapshotId
            - entries
    LeaderboardHistorySort:
      type: string
      description: The field to sort historical entries by.
      enum:
        - created_at
        - bt_score
        - rank
      default: created_at
      example: created_at
    LeaderboardModelHistoryQuery:
      type: object
      description: A query for retrieving historical leaderboard data for a model.
      properties:
        pageNumber:
          description: The page number.
          type: integer
          format: int32
          default: 0
          minimum: 0
          example: 0
        pageSize:
          description: The number of items in a single page.
          type: integer
          format: int32
          default: 100
          minimum: 1
          maximum: 1000
          example: 50
        sort:
          $ref: '#/components/schemas/LeaderboardHistorySort'
        direction:
          $ref: '#/components/schemas/SortDirection'
        fromDate:
          description: Include only entries created on or after this date.
          type: string
          format: date
          nullable: true
          example: '2025-08-01'
        toDate:
          description: Include only entries created on or before this date.
          type: string
          format: date
          nullable: true
          example: '2025-08-16'
    HistoricalLeaderboardEntry:
      type: object
      description: A historical entry representing a model's performance at a specific point in time.
      properties:
        snapshotId:
          type: string
          description: Identifier for the snapshot/timepoint
          example: snapshot_2025-08-15_10-00
        btScore:
          type: number
          format: double
          description: Bradley-Terry score - primary ranking metric at this point in time
          example: 0.915
        voteCount:
          type: integer
          description: Number of votes/evaluations at this point in time
          example: 1180
        rank:
          type: integer
          description: Rank position at this point in time (1-based)
          example: 2
        bootstrapQ025:
          type: number
          format: double
          description: Bootstrap confidence interval lower bound (2.5th percentile)
          example: 875
        bootstrapQ975:
          type: number
          format: double
          description: Bootstrap confidence interval upper bound (97.5th percentile)
          example: 1055
        createdAt:
          type: string
          format: date-time
          description: When this snapshot was created
          example: '2025-08-15T10:00:00Z'
      required:
        - snapshotId
        - btScore
        - voteCount
        - rank
        - bootstrapQ025
        - bootstrapQ975
        - createdAt
    LeaderboardModelHistoryPage:
      type: object
      description: A page of historical leaderboard entries for a specific model.
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            modelId:
              type: string
              description: Identifier for the model
              example: model_456
            modelName:
              type: string
              description: Display name of the model
              example: GPT-4o
            history:
              description: A list of historical leaderboard entries.
              type: array
              items:
                $ref: '#/components/schemas/HistoricalLeaderboardEntry'
          required:
            - modelId
            - modelName
            - history
    LeaderboardSnapshotSort:
      type: string
      description: The field to sort snapshots by.
      enum:
        - created_at
      default: created_at
      example: created_at
    LeaderboardSnapshotQuery:
      type: object
      description: A query for retrieving leaderboard snapshots.
      properties:
        pageNumber:
          description: The page number.
          type: integer
          format: int32
          default: 0
          minimum: 0
          example: 0
        pageSize:
          description: The number of items in a single page.
          type: integer
          format: int32
          default: 100
          minimum: 1
          maximum: 1000
          example: 20
        sort:
          $ref: '#/components/schemas/LeaderboardSnapshotSort'
        direction:
          $ref: '#/components/schemas/SortDirection'
    Visibility:
      type: string
      maxLength: 20
      enum:
        - public
        - private
      description: Visibility status of a resource.
      default: private
      example: public
    LeaderboardSnapshot:
      type: object
      description: A snapshot representing the state of a leaderboard at a specific point in time.
      properties:
        id:
          type: string
          description: Unique identifier for this snapshot
          example: snapshot_2025-08-16_14-30
        visibility:
          $ref: '#/components/schemas/Visibility'
        createdAt:
          type: string
          format: date-time
          description: When this snapshot was created
          example: '2025-08-16T14:30:00Z'
        updatedAt:
          $ref: '#/components/schemas/UpdatedAt'
        entryCount:
          type: integer
          description: Number of models in this snapshot
          example: 50
        description:
          type: string
          nullable: true
          description: Optional description of this snapshot
          example: Weekly evaluation run
      required:
        - id
        - visibility
        - createdAt
        - updatedAt
        - entryCount
    LeaderboardSnapshotPage:
      type: object
      description: A page of leaderboard snapshots.
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            snapshots:
              description: A list of leaderboard snapshots.
              type: array
              items:
                $ref: '#/components/schemas/LeaderboardSnapshot'
          required:
            - snapshots
    ModelSort:
      type: string
      description: The field to sort models by.
      enum:
        - name
        - created_at
        - updated_at
        - slug
        - license
        - active
      default: name
      example: created_at
    ModelSearchQuery:
      type: object
      description: A model search query with pagination and filtering options.
      properties:
        pageNumber:
          description: The page number.
          type: integer
          format: int32
          default: 0
          minimum: 0
          example: 0
        pageSize:
          description: The number of items in a single page.
          type: integer
          format: int32
          default: 25
          minimum: 1
          maximum: 100
          example: 25
        sort:
          $ref: '#/components/schemas/ModelSort'
        direction:
          $ref: '#/components/schemas/SortDirection'
        search:
          description: Search by model name or slug (case-insensitive partial match).
          type: string
          nullable: true
          example: vision
        active:
          description: Filter by active status (true returns only active models; false only inactive; omit for all).
          type: boolean
          nullable: true
          example: true
        license:
          description: Filter by license type.
          $ref: '#/components/schemas/License'
        organization:
          description: Filter by organization name (case-insensitive partial match).
          type: string
          nullable: true
          example: OpenAI
      required: []
    ModelPage:
      type: object
      description: A page of models.
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            models:
              type: array
              description: A list of models.
              items:
                $ref: '#/components/schemas/Model'
          required:
            - models
    ModelErrorCode:
      type: integer
      nullable: true
      description: HTTP status code from the error response.
      example: 429
    ModelErrorCreateRequest:
      type: object
      description: Request to report a model error.
      properties:
        code:
          $ref: '#/components/schemas/ModelErrorCode'
        message:
          $ref: '#/components/schemas/ModelErrorMessage'
        battleId:
          $ref: '#/components/schemas/BattleId'
        roundId:
          $ref: '#/components/schemas/BattleRoundId'
      required:
        - message
        - battleId
        - roundId
    ModelErrorId:
      type: string
      format: uuid
      description: Unique identifier of the model error record.
      example: 98765432-e89b-12d3-a456-426614174099
    ModelError:
      type: object
[...]
