LOG_LEVEL=info
PORT=8889

LOADER=thumbor.loaders.http_loader

STORAGE=thumbor.storages.file_storage
FILE_STORAGE_ROOT_PATH=/data/storage

RESULT_STORAGE=thumbor.result_storages.file_storage
RESULT_STORAGE_FILE_STORAGE_ROOT_PATH=/data/result_storage
RESULT_STORAGE_STORES_UNSAFE=True
RESULT_STORAGE_EXPIRATION_SECONDS=2629746

SECURITY_KEY=changeme
ALLOW_UNSAFE_URL=True
QUALITY=100
MAX_AGE=86400
AUTO_PNG_TO_JPG=True