services:
  amp-als-dataset-service:
    image: ghcr.io/sage-bionetworks/amp-als-dataset-service:${AMP_ALS_VERSION:-local}
    container_name: amp-als-dataset-service
    restart: always
    env_file:
      - ../../../apps/amp-als/dataset-service/.env
    networks:
      - amp-als
    ports:
      - '8404:8404'
    depends_on:
      amp-als-opensearch:
        condition: service_healthy
      amp-als-postgres:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1G
