# Production profile configuration
spring:
  datasource:
    url: jdbc:postgresql://openchallenges-postgres-prod:8091/openchallenges?currentSchema=organization
    username: organization_service
    password: changeme
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
  flyway:
    enabled: false

logging:
  level:
    org.sagebionetworks.openchallenges: WARN
    org.springframework.security: WARN
