:8111 {
	handle_path /health {
		respond `{"status":"healthy"}` 200
		header Content-Type application/json
	}

	# Serve the API, stripping the /api prefix
  handle_path /api/* {
    reverse_proxy {env.API_HOST}:{env.API_PORT}
  }

	handle {
		reverse_proxy {env.APP_HOST}:{env.APP_PORT}
	}
}
