:80 {
  limits {
    header 64kb
  }
  
  handle_path /api-docs* {
    reverse_proxy {env.API_DOCS_HOST}:{env.API_DOCS_PORT}
  }

  # Serve the API, stripping the /api prefix
  handle_path /api/* {
    reverse_proxy {env.API_HOST}:{env.API_PORT}
  }

  handle {
    reverse_proxy {env.APP_HOST}:{env.APP_PORT}
  }
}