:80 {
  handle_path /api-docs* {
    reverse_proxy {env.API_DOCS_HOST}:{env.API_DOCS_PORT}
  }

  # Route /api/v1/data-version to the next api, stripping /api
  handle /api/v1/data-version {
   uri strip_prefix /api
   reverse_proxy {env.API_NEXT_HOST}:{env.API_NEXT_PORT}
  }

  # Route all other /api/* requests to the default API service, stripping /api
  handle_path /api/* {
    reverse_proxy {env.API_HOST}:{env.API_PORT}
  }

  handle {
    reverse_proxy {env.APP_HOST}:{env.APP_PORT}
  }
}