GIT_DEFAULT_LABEL=crud-upgrade
GIT_HOST_KEY_ALGORITHM=ssh-ed25519
GIT_HOST_KEY=AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl
GIT_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----\nchangeme\n-----END OPENSSH PRIVATE KEY-----"
GIT_URI=git@github.com:Sage-Bionetworks/openchallenges-config-server-repository.git
SERVER_PORT=8090
