# Staging profile configuration
spring:
  datasource:
    url: jdbc:postgresql://openchallenges-postgres-stage:8091/openchallenges?currentSchema=challenge
    username: challenge_service
    password: changeme
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
  flyway:
    enabled: false

logging:
  level:
    org.sagebionetworks.openchallenges: INFO
