<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <property name="LOG_DIR" value="./log" />
  <property name="APP_NAME" value="challenge-service" />

  <include resource="logback-common.xml" />

  <logger name="org.hibernate" level="info" />
  <logger name="org.hibernate.search.query" level="info" />

  <!-- <logger name="org.apache.kafka" level="debug" /> -->
</configuration>
