spring:
  application:
    name: challenge-service-registry

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: ${default.zone}
    fetch-registry: false
    register-with-eureka: false

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: info

info:
  application:
    name: ${spring.application.name}