{
  "apiDocsUrl": "${API_DOCS_URL}",
  "appVersion": "${APP_VERSION}",
  "csrApiUrl": "${CSR_API_URL}",
  "dataUpdatedOn": "${DATA_UPDATED_ON}",
  "environment": "${ENVIRONMENT}",
  "googleTagManagerId": "${GOOGLE_TAG_MANAGER_ID}",
  "ssrApiUrl": "${SSR_API_URL}",
  "enableOperationFilter": "${ENABLE_OPERATION_FILTER}"
}