# must match model-ad/mongo config
DB_USER="root"
DB_PASS="changeme"
DB_NAME="model-ad"
DB_PORT="27017"
DB_HOST="model-ad-mongo" # must match mongo service name

# specifies data release manifest
DATA_FILE="syn63540270"
DATA_VERSION="90"
SYNAPSE_AUTH_TOKEN="model-ad-service-user-pat-here"