@use 'sass:map';
@use '@angular/material' as mat;
@use 'libs/challenge-registry/themes/src/fonts' as fonts;
@use 'libs/challenge-registry/themes/src/palettes' as palettes;
@use 'libs/challenge-registry/themes/src/index' as challenge-registry;

// set default typography
@include mat.core(fonts.$fira);

$primary: mat.define-palette(palettes.$dark-blue-palette, 600);
$accent: mat.define-palette(palettes.$accent-pink-palette, 400);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: (
      fira: fonts.$fira,
      poppins: fonts.$poppins,
    ),
  )
);

// Add custom palettes used in figma to the theme
$theme: map.deep-merge(
  $theme,
  (
    color: (
      figma: palettes.$figma-collection,
    ),
  )
);

// Emit theme-dependent styles for common features used across multiple
// components.
@include mat.core-theme($theme);

// Emit styles for MatButton based on `$theme`.
@include mat.button-theme($theme);
@include mat.progress-spinner-theme($theme);
@include mat.button-typography(fonts.$fira);

// Include the theme mixins for other components you use here.
@include challenge-registry.theme($theme);
