@use '@angular/material' as mat;
@use 'libs/challenge-registry/themes/src/palettes' as palettes;
@use 'libs/challenge-registry/themes/src/index' as challenge-registry;

@include mat.core();

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
$primary: mat.define-palette(palettes.$dark-blue-palette, 600);
$accent: mat.define-palette(palettes.$accent-pink-palette, 400);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography:
      mat.define-typography-config(
        $font-family: "'Poppins', sans-serif",
      ),
  )
);

// Emit theme-dependent styles for common features used across multiple
// components.
@include mat.core-theme($theme);

// Emit styles for MatButton based on `$theme`.
@include mat.button-theme($theme);
@include mat.progress-spinner-theme($theme);

// Include the theme mixins for other components you use here.
@include challenge-registry.theme($theme);
