@use 'sass:map';
@use '@angular/material' as mat;
@use 'libs/openchallenges/themes/src/palettes' as palettes;
@use 'libs/openchallenges/themes/src/index' as openchallenges;

@include mat.core();

$primary: mat.define-palette(palettes.$dark-blue-palette, 600);
$accent: mat.define-palette(palettes.$accent-purple-palette, 400);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

// Add custom palettes used in figma to the theme
$theme: map.deep-merge(
  $theme,
  (
    color: (
      figma: palettes.$figma-collection,
    ),
    density: 0,
  )
);

// Emit theme-dependent styles for common features used across multiple
// components.
@include mat.core-theme($theme);

// Include the theme mixins for other components you use here.
// @include openchallenges.theme($theme);
