:8400 {
  handle_path /api-docs* {
    reverse_proxy {env.API_DOCS_HOST}:{env.API_DOCS_PORT}
  }

  # Serve the API, stripping the /api prefix
  handle_path /api/* {
    reverse_proxy {env.DATASET_SERVICE_HOST}:{env.DATASET_SERVICE_PORT}
  }

  handle_path /health {
		respond `{"status":"healthy"}` 200
		header Content-Type application/json
	}

  #handle {
  #  reverse_proxy {env.APP_HOST}:{env.APP_PORT}
  #}
}