@if (useGoogleTagManager) {
  <web-shared-angular-analytics-gtm />
}
<div id="container">
  <explorers-header
    headerLogoPath="/agora-assets/images/header-logo.svg"
    [headerLinks]="headerLinks"
    [footerLinks]="footerLinks"
  >
    <agora-search-input [searchPlaceholder]="'Search genes'" />
  </explorers-header>
  <div id="main-content">
    <router-outlet></router-outlet>
  </div>
  <explorers-footer
    footerLogoPath="/agora-assets/images/footer-logo.svg"
    [footerLinks]="footerLinks"
    [siteVersion]="siteVersion"
    [dataVersion]="dataVersion"
  />
</div>
<p-toast class="global-toast" position="bottom-center"></p-toast>
