API_DOCS_URL="http://localhost:8000/api-docs"
APP_VERSION="local"
COMMIT_SHA=""
CSR_API_URL="http://localhost:8000/api/v1"
SSR_API_URL="http://model-ad-api:3333/v1"
GOOGLE_TAG_MANAGER_ID=""
SENTRY_DSN=""
SENTRY_ENVIRONMENT=""
SENTRY_RELEASE=""
