API_DOCS_URL="http://localhost:8000/api-docs"
APP_VERSION="1.0.0-alpha"
CSR_API_URL="http://localhost:8000/api/v1"
DATA_UPDATED_ON="2023-09-26"
ENVIRONMENT="production"
GOOGLE_TAG_MANAGER_ID=""
SSR_API_URL="http://model-ad-api:3333/v1"