SERVER_PORT="3334"
MODEL_AD_MONGO_HOST="model-ad-mongo"
MODEL_AD_MONGO_PORT="27017"
MODEL_AD_MONGO_DATABASE="model-ad"
MODEL_AD_MONGO_USERNAME="root"
MODEL_AD_MONGO_PASSWORD="changeme"
MODEL_AD_MONGO_AUTH_DB="admin"