SERVER_PORT="3334"
SPRING_DATA_MONGODB_HOST="model-ad-mongo"
SPRING_DATA_MONGODB_PORT="27017"
SPRING_DATA_MONGODB_DATABASE="model-ad"
SPRING_DATA_MONGODB_USERNAME="root"
SPRING_DATA_MONGODB_PASSWORD="changeme"
SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE="admin"

# Environment name (dev, stage, prod)
SPRING_PROFILES_ACTIVE=dev