@use 'sass:map';
@use 'libs/amp-als/themes/src/fonts' as fonts;
@use 'libs/amp-als/themes/src/palettes' as palettes;
@use 'libs/amp-als/themes/src/index' as amp-als;

// Add custom palettes used in figma to the theme
$theme: map.deep-merge(
  $theme,
  (
    color: (
      figma: palettes.$figma-collection,
    ),
  )
);

// Include the theme mixins for other components you use here.
@include amp-als.theme($theme);

:root {
  --color-btn-primary: #39bde7;
  --color-btn-disabled: #ebebe4;
  --color-btn-shadow: rgb(196 196 196 / 100%);
}
