{
  "apiDocsUrl": "${API_DOCS_URL:-http://localhost:8000/api-docs}",
  "appVersion": "${APP_VERSION:-local}",
  "commitSha": "${COMMIT_SHA:-}",
  "csrApiUrl": "${CSR_API_URL:-http://localhost:8000/api/v1}",
  "ssrApiUrl": "${SSR_API_URL:-http://model-ad-api:3333/v1}",
  "googleTagManagerId": "${GOOGLE_TAG_MANAGER_ID:-}",
  "sentryDSN": "${SENTRY_DSN:-}",
  "sentryEnvironment": "${SENTRY_ENVIRONMENT:-localhost}",
  "sentryRelease": "${SENTRY_RELEASE:-}"
}
