{
  "apiDocsUrl": "${API_DOCS_URL}",
  "appVersion": "${APP_VERSION}",
  "csrApiUrl": "${CSR_API_URL}",
  "googleTagManagerId": "${GOOGLE_TAG_MANAGER_ID}",
  "ssrApiUrl": "${SSR_API_URL}",
  "tagName": "${TAG_NAME}"
}