# must match qtl/mongo config
DB_USER="root"
DB_PASS="changeme"
DB_NAME="qtl"
DB_PORT="27017"
DB_HOST="qtl-mongo" # must match mongo service name

# specifies data release manifest
DATA_FILE="syn74734286"
DATA_VERSION="2"
SYNAPSE_AUTH_TOKEN="qtl-service-user-pat-here"
