SERVER_PORT=8084
KEYCLOAK_URL=http://openchallenges-keycloak:8080
SERVICE_REGISTRY_URL=http://openchallenges-service-registry:8081/eureka
DB_URL=jdbc:mysql://openchallenges-mariadb:3306/organization_service?allowLoadLocalInfile=true