openapi: 3.0.3
info:
  contact:
    name: Support
    url: https://github.com/Sage-Bionetworks/sage-monorepo
  license:
    name: Apache 2.0
    url: https://github.com/Sage-Bionetworks/sage-monorepo/blob/main/LICENSE.txt
  title: MODEL-AD REST API
  version: 1.0.0
  x-logo:
    url: https://dev.openchallenges.io/img/unsafe/logo/OpenChallenges-logo.png
servers:
- url: http://localhost/v1
tags:
- description: Operations about genes.
  name: Gene
paths:
  /genes:
    get:
      description: List genes
      operationId: listGenes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenesPage'
          description: Success
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BasicError'
          description: Invalid request
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BasicError'
          description: The request cannot be fulfilled due to an unexpected server
            error
      summary: List genes
      tags:
      - Gene
      x-accepts: application/json
      x-tags:
      - tag: Gene
components:
  responses:
    BadRequest:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BasicError'
      description: Invalid request
    InternalServerError:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BasicError'
      description: The request cannot be fulfilled due to an unexpected server error
  schemas:
    PageMetadata:
      description: The metadata of a page.
      properties:
        number:
          description: The page number.
          example: 99
          format: int32
          type: integer
        size:
          description: The number of items in a single page.
          example: 99
          format: int32
          type: integer
        totalElements:
          description: Total number of elements in the result set.
          example: 99
          format: int64
          type: integer
        totalPages:
          description: Total number of pages in the result set.
          example: 99
          format: int32
          type: integer
        hasNext:
          description: Returns if there is a next page.
          example: true
          type: boolean
        hasPrevious:
          description: Returns if there is a previous page.
          example: true
          type: boolean
      required:
      - hasNext
      - hasPrevious
      - number
      - size
      - totalElements
      - totalPages
      type: object
    GeneId:
      description: The unique identifier of the gene.
      example: 1
      format: int64
      type: integer
    GeneName:
      description: The name of the gene.
      maxLength: 255
      minLength: 3
      type: string
    GeneDescription:
      description: The description of the gene.
      example: This is an example description of the gene.
      maxLength: 1000
      minLength: 0
      type: string
    Gene:
      description: A gene
      properties:
        id:
          description: The unique identifier of the gene.
          example: 1
          format: int64
          type: integer
        name:
          description: The name of the gene.
          maxLength: 255
          minLength: 3
          type: string
        description:
          description: The description of the gene.
          example: This is an example description of the gene.
          maxLength: 1000
          minLength: 0
          type: string
      required:
      - description
      - id
      - name
      type: object
    GenesPage:
      allOf:
      - $ref: '#/components/schemas/PageMetadata'
      - $ref: '#/components/schemas/GenesPage_allOf'
      description: A page of genes.
      type: object
      x-java-class-annotations:
      - '@lombok.Builder'
    BasicError:
      description: Problem details (tools.ietf.org/html/rfc7807)
      properties:
        title:
          description: A human readable documentation for the problem type
          type: string
        status:
          description: The HTTP status code
          type: integer
        detail:
          description: A human readable explanation specific to this occurrence of
            the problem
          type: string
        type:
          description: An absolute URI that identifies the problem type
          type: string
      required:
      - status
      - title
      type: object
      x-java-class-annotations:
      - '@lombok.AllArgsConstructor'
      - '@lombok.Builder'
    GenesPage_allOf:
      properties:
        genes:
          description: A list of genes.
          items:
            $ref: '#/components/schemas/Gene'
          type: array
      required:
      - genes
      type: object
      example: null
