DB_USER=postgres
DB_PW=changeme
DB_HOST=iatlas-postgres
DB_NAME=iatlas
SCHEMA_URL=
SCHEMA_PROJECT_ID=
SCHEMA_ASSET_VIEW_ID=
SCHEMA_AUTH_TOKEN=
API_URL=https://schematic-staging.api.sagebionetworks.org/v1