name: Run e2e tests for Explorers

on:
  push:
  # Warning: using the pull_request_target event without the cautionary measures may allow
  # unauthorized GitHub users to open a “pwn request” and exfiltrate secrets.
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]

jobs:
  run-explorer-e2e:
    # Run in Sage repo on main branch and on all branches in user-owned forks
    if: ${{ github.ref_name == 'main' || github.ref_name == 'agora/AG-1921' || github.actor == github.repository_owner }}
    strategy:
      matrix:
        explorer:
          - agora
          - model-ad
    uses: ./.github/workflows/e2e-explorer.yaml
    with:
      explorer: ${{ matrix.explorer }}
    secrets: inherit
