name: Lint Dockerfiles

on:
  push:
    branches:
      - main
      - 'agora/**'
      - 'iatlas/**'
      - 'openchallenges/**'
      - 'sage-monorepo/**'
      - 'sage/**'
      - 'schematic/**'
  pull_request:

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout
        with:
          fetch-depth: 1

      - name: Lint Dockerfiles
        uses: hadolint/hadolint-action@v3.1.0
        with:
          recursive: true
