name: release

on:
  push:
    tags:
      - 'agora/v*'
      - 'bixarena/v*'
      - 'model-ad/v*'
      - 'openchallenges/v*'
      - 'sage/v*'

permissions:
  packages: write

env:
  PRODUCT: ''
  VERSION: ''

jobs:
  deploy:
    runs-on: ubuntu-22.04-4core-16GBRAM-150GBSSD
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Extract product and version from Git tag
        run: |
          # Extract the product name (part before the first slash) and version (part after the first slash)
          PRODUCT=$(echo "${GITHUB_REF#refs/tags/}" | cut -d'/' -f1)
          VERSION=$(echo "${GITHUB_REF#refs/tags/}" | cut -d'/' -f2)

          # Output extracted values for the rest of the job
          echo "PRODUCT=${PRODUCT}" >> $GITHUB_ENV
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4

      - name: Set up the dev container
        uses: ./.github/actions/setup-dev-container

        # TODO: Identify the projects that actually need to be prepared. Here I'm not expecting any
        # affected project since this workflow does not affect projects. For now I'm keeping the
        # same behavior as before this change.
      - name: Prepare the affected projects
        run: |
          devcontainer exec --workspace-folder ../sage-monorepo bash -c ". ./dev-env.sh \
            && workspace-install-affected"

      - name: Set Sentry release version for agora-app
        if: ${{ env.PRODUCT == 'agora' }}
        run: |
          devcontainer exec --workspace-folder ../sage-monorepo bash -c ". ./dev-env.sh \
            && export SENTRY_RELEASE=agora-app@${{ env.VERSION }} \
            && nx run agora-app:set-sentry-release"

      - name: Build agora-app for Sentry source map upload
        if: ${{ env.PRODUCT == 'agora' }}
        run: |
          devcontainer exec --workspace-folder ../sage-monorepo bash -c ". ./dev-env.sh \
            && nx run agora-app:build:production"

      - name: Upload Sentry source maps for agora-app
        if: ${{ env.PRODUCT == 'agora' }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: |
          devcontainer exec --workspace-folder ../sage-monorepo bash -c ". ./dev-env.sh \
            && export SENTRY_RELEASE=agora-app@${{ env.VERSION }} \
            && nx run agora-app:sentry-upload \
            && nx run agora-app:sentry-cleanup"

      - name: Build the Docker images for the specified product
        run: |
          devcontainer exec --workspace-folder ../sage-monorepo bash -c ". ./dev-env.sh \
            && export VERSION=${{ env.VERSION }} \
            && echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin \
            && nx run-many --target=build-image --projects=${{ env.PRODUCT }}-* --configuration=release"
